<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.akbox.AkboxConfigDao">
    <resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.akbox.AkboxConfig">
        <!--@mbg.generated-->
        <!--@Table collect_box_flow_direction_conf-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="province_agency_code" jdbcType="VARCHAR" property="provinceAgencyCode"/>
        <result column="province_agency_name" jdbcType="VARCHAR" property="provinceAgencyName"/>
        <result column="area_hub_code" property="areaHubCode" jdbcType="VARCHAR" />
        <result column="area_hub_name" property="areaHubName" jdbcType="VARCHAR" />
        <result column="site_code" property="siteCode" jdbcType="BIGINT" />
        <result column="site_name" property="siteName" jdbcType="VARCHAR" />
        <result column="small_stock" jdbcType="INTEGER" property="smallStock"/>
        <result column="large_stock" jdbcType="INTEGER" property="largeStock"/>

        <result column="create_user_erp" jdbcType="VARCHAR" property="createUserErp"/>
        <result column="update_user_erp" jdbcType="VARCHAR" property="updateUserErp"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
        <result column="yn" jdbcType="BOOLEAN" property="yn"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, province_agency_code, province_agency_name,
        area_hub_code,area_hub_name,site_code,site_name,
        small_stock,large_stock,
        create_user_erp, create_user, update_user_erp, update_user,
        create_time, update_time, ts, yn
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from akbox_config
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectBySiteCode" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from akbox_config
        where site_code = #{siteCode,jdbcType=BIGINT}
    </select>

    <select id="queryByCondition" parameterType="com.jdl.basic.api.domain.akbox.AkboxConfigQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from akbox_config
        where 1=1
            <if test="provinceAgencyCode != null and provinceAgencyCode != ''">
                and province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR}
            </if>

            <if test="areaHubCode != null and areaHubCode != ''">
                and area_hub_code = #{areaHubCode,jdbcType=VARCHAR}
            </if>

            <if test="siteCode != null">
                and site_code = #{siteCode,jdbcType=BIGINT}
            </if>
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.jdl.basic.api.domain.akbox.AkboxConfig" useGeneratedKeys="true">
        insert into akbox_config (province_agency_code, province_agency_name,
        area_hub_code,area_hub_name,site_code,site_name,
        small_stock,large_stock,
        create_user_erp, create_user, update_user_erp, update_user,
        create_time, update_time, ts, yn)
        values (#{provinceAgencyCode,jdbcType=VARCHAR}, #{provinceAgencyName,jdbcType=VARCHAR},
            #{areaHubCode,jdbcType=VARCHAR}, #{areaHubName,jdbcType=VARCHAR},
            #{siteCode,jdbcType=BIGINT}, #{siteName,jdbcType=VARCHAR},
            #{smallStock,jdbcType=INTEGER}, #{largeStock,jdbcType=INTEGER},
            #{createUserErp,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
            #{updateUserErp,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{ts,jdbcType=TIMESTAMP},
                #{yn,jdbcType=BOOLEAN})
    </insert>

    <insert id="batchInsert" keyColumn="id" keyProperty="id"
            parameterType="com.jdl.basic.api.domain.akbox.AkboxConfig" useGeneratedKeys="true">
        insert into akbox_config (province_agency_code, province_agency_name,
                                  area_hub_code,area_hub_name,site_code,site_name,
                                  small_stock,large_stock,
                                  create_user_erp, create_user, update_user_erp, update_user,
                                  create_time, update_time, ts, yn)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.provinceAgencyCode,jdbcType=VARCHAR}, #{item.provinceAgencyName,jdbcType=VARCHAR},
                #{item.areaHubCode,jdbcType=VARCHAR}, #{item.areaHubName,jdbcType=VARCHAR},
                #{item.siteCode,jdbcType=BIGINT}, #{item.siteName,jdbcType=VARCHAR},
                #{item.smallStock,jdbcType=INTEGER}, #{item.largeStock,jdbcType=INTEGER},
                #{createUserErp,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
                #{updateUserErp,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR},
                #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.ts,jdbcType=TIMESTAMP},
                #{item.yn,jdbcType=BOOLEAN})
        </foreach>
    </insert>

    <update id="updateById"
            parameterType="com.jdl.basic.api.domain.akbox.AkboxConfig">
        update akbox_config
        <set>
            <if test="provinceAgencyCode != null">
                province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceAgencyName != null">
                province_agency_name = #{provinceAgencyName,jdbcType=VARCHAR},
            </if>
            <if test="areaHubCode != null">
                area_hub_code = #{areaHubCode,jdbcType=VARCHAR},
            </if>
            <if test="areaHubName != null">
                area_hub_name = #{areaHubName,jdbcType=VARCHAR},
            </if>
            <if test="siteCode != null">
                site_code = #{siteCode ,jdbcType=BIGINT},
            </if>
            <if test="siteName != null">
                site_name = #{siteName,jdbcType=VARCHAR},
            </if>

            small_stock = #{smallStock,jdbcType=INTEGER},
            large_stock = #{largeStock,jdbcType=INTEGER},
            <if test="createUserErp != null">
                create_user_erp = #{createUserErp,jdbcType=VARCHAR},
            </if>
            <if test="updateUserErp != null">
                update_user_erp = #{updateUserErp,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ts != null">
                and ts = #{ts,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                and yn = #{yn,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateBySiteCode" parameterType="com.jdl.basic.api.domain.akbox.AkboxConfig">
        update akbox_config
        <set>
            <if test="provinceAgencyCode != null">
                province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceAgencyName != null">
                province_agency_name = #{provinceAgencyName,jdbcType=VARCHAR},
            </if>
            <if test="areaHubCode != null">
                area_hub_code = #{areaHubCode,jdbcType=VARCHAR},
            </if>
            <if test="areaHubName != null">
                area_hub_name = #{areaHubName,jdbcType=VARCHAR},
            </if>
            <if test="siteCode != null">
                site_code = #{siteCode ,jdbcType=BIGINT},
            </if>
            <if test="siteName != null">
                site_name = #{siteName,jdbcType=VARCHAR},
            </if>

            small_stock = #{smallStock,jdbcType=INTEGER},
            large_stock = #{largeStock,jdbcType=INTEGER},
            <if test="createUserErp != null">
                create_user_erp = #{createUserErp,jdbcType=VARCHAR},
            </if>
            <if test="updateUserErp != null">
                update_user_erp = #{updateUserErp,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ts != null">
                ts = #{ts,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                yn = #{yn,jdbcType=BOOLEAN},
            </if>
        </set>
        where site_code = #{siteCode,jdbcType=BIGINT}
    </update>
</mapper>
