<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="es/spring-es-config.xml" />
    <import resource="es/spring-es-dao.xml" />
    <import resource="jsf/jsf-provider.xml" />
    <import resource="jsf/jsf-consumer.xml" />
    <import resource="jmq/jmq-conf.xml" />
    <import resource="aces/spring-aces-config.xml" />

</beans>