# Default ignored files
/.idea/*
/dms-workbench-basic-services.iml
/jy-basic-api/target/
/jy-basic-common/target/
/jy-basic-provider/target/
/jy-basic-rpc/target/
/jy-basic-api/.classpath
/jy-basic-common/.classpath
/jy-basic-provider/.classpath
/jy-basic-rpc/.classpath
/jy-basic-api/.settings/
/jy-basic-common/.settings/
/jy-basic-provider/.settings/
/jy-basic-rpc/.settings/
/jy-basic-api/.project
/jy-basic-common/.project
/jy-basic-provider/.project
/jy-basic-rpc/.project
*.iml
*.DS_Store
