<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.videoTraceCamera.VideoTraceCameraDao">
  <resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.videoTraceCamera.VideoTraceCamera">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_code" jdbcType="VARCHAR" property="cameraCode" />
    <result column="camera_name" jdbcType="VARCHAR" property="cameraName" />
    <result column="video_recorder_code" jdbcType="VARCHAR" property="videoRecorderCode" />
    <result column="video_recorder_name" jdbcType="VARCHAR" property="videoRecorderName" />
    <result column="site_code" jdbcType="INTEGER" property="siteCode" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="province_agency_code" jdbcType="VARCHAR" property="provinceAgencyCode" />
    <result column="province_agency_name" jdbcType="VARCHAR" property="provinceAgencyName" />
    <result column="area_hub_code" jdbcType="VARCHAR" property="areaHubCode" />
    <result column="area_hub_name" jdbcType="VARCHAR" property="areaHubName" />
    <result column="create_erp" jdbcType="VARCHAR" property="createErp" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_erp" jdbcType="VARCHAR" property="updateErp" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="config_status" jdbcType="TINYINT" property="configStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_code, camera_name, video_recorder_code, video_recorder_name, site_code, 
    site_name, province_agency_code, province_agency_name, area_hub_code, area_hub_name, 
    create_erp, create_time, update_erp, update_time, config_status, status, ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_trace_camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_trace_camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jdl.basic.api.domain.videoTraceCamera.VideoTraceCamera">
    insert into video_trace_camera (id, camera_code, camera_name, 
      video_recorder_code, video_recorder_name, site_code, 
      site_name, province_agency_code, province_agency_name, 
      area_hub_code, area_hub_name, create_erp, 
      create_time, update_erp, update_time, 
      config_status, status, ts
      )
    values (#{id,jdbcType=INTEGER}, #{cameraCode,jdbcType=VARCHAR}, #{cameraName,jdbcType=VARCHAR}, 
      #{videoRecorderCode,jdbcType=VARCHAR}, #{videoRecorderName,jdbcType=VARCHAR}, #{siteCode,jdbcType=INTEGER}, 
      #{siteName,jdbcType=VARCHAR}, #{provinceAgencyCode,jdbcType=VARCHAR}, #{provinceAgencyName,jdbcType=VARCHAR}, 
      #{areaHubCode,jdbcType=VARCHAR}, #{areaHubName,jdbcType=VARCHAR}, #{createErp,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateErp,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{configStatus,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{ts,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jdl.basic.api.domain.videoTraceCamera.VideoTraceCamera">
    insert into video_trace_camera
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraCode != null">
        camera_code,
      </if>
      <if test="cameraName != null">
        camera_name,
      </if>
      <if test="videoRecorderCode != null">
        video_recorder_code,
      </if>
      <if test="videoRecorderName != null">
        video_recorder_name,
      </if>
      <if test="siteCode != null">
        site_code,
      </if>
      <if test="siteName != null">
        site_name,
      </if>
      <if test="provinceAgencyCode != null">
        province_agency_code,
      </if>
      <if test="provinceAgencyName != null">
        province_agency_name,
      </if>
      <if test="areaHubCode != null">
        area_hub_code,
      </if>
      <if test="areaHubName != null">
        area_hub_name,
      </if>
      <if test="createErp != null">
        create_erp,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateErp != null">
        update_erp,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="configStatus != null">
        config_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraCode != null">
        #{cameraCode,jdbcType=VARCHAR},
      </if>
      <if test="cameraName != null">
        #{cameraName,jdbcType=VARCHAR},
      </if>
      <if test="videoRecorderCode != null">
        #{videoRecorderCode,jdbcType=VARCHAR},
      </if>
      <if test="videoRecorderName != null">
        #{videoRecorderName,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        #{siteCode,jdbcType=INTEGER},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="provinceAgencyCode != null">
        #{provinceAgencyCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceAgencyName != null">
        #{provinceAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="areaHubCode != null">
        #{areaHubCode,jdbcType=VARCHAR},
      </if>
      <if test="areaHubName != null">
        #{areaHubName,jdbcType=VARCHAR},
      </if>
      <if test="createErp != null">
        #{createErp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateErp != null">
        #{updateErp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="configStatus != null">
        #{configStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdl.basic.api.domain.videoTraceCamera.VideoTraceCamera">
    update video_trace_camera
    <set>
      <if test="cameraCode != null">
        camera_code = #{cameraCode,jdbcType=VARCHAR},
      </if>
      <if test="cameraName != null">
        camera_name = #{cameraName,jdbcType=VARCHAR},
      </if>
      <if test="videoRecorderCode != null">
        video_recorder_code = #{videoRecorderCode,jdbcType=VARCHAR},
      </if>
      <if test="videoRecorderName != null">
        video_recorder_name = #{videoRecorderName,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        site_code = #{siteCode,jdbcType=INTEGER},
      </if>
      <if test="siteName != null">
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="provinceAgencyCode != null">
        province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceAgencyName != null">
        province_agency_name = #{provinceAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="areaHubCode != null">
        area_hub_code = #{areaHubCode,jdbcType=VARCHAR},
      </if>
      <if test="areaHubName != null">
        area_hub_name = #{areaHubName,jdbcType=VARCHAR},
      </if>
      <if test="createErp != null">
        create_erp = #{createErp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateErp != null">
        update_erp = #{updateErp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="configStatus != null">
        config_status = #{configStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdl.basic.api.domain.videoTraceCamera.VideoTraceCamera">
    update video_trace_camera
    set camera_code = #{cameraCode,jdbcType=VARCHAR},
      camera_name = #{cameraName,jdbcType=VARCHAR},
      video_recorder_code = #{videoRecorderCode,jdbcType=VARCHAR},
      video_recorder_name = #{videoRecorderName,jdbcType=VARCHAR},
      site_code = #{siteCode,jdbcType=INTEGER},
      site_name = #{siteName,jdbcType=VARCHAR},
      province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR},
      province_agency_name = #{provinceAgencyName,jdbcType=VARCHAR},
      area_hub_code = #{areaHubCode,jdbcType=VARCHAR},
      area_hub_name = #{areaHubName,jdbcType=VARCHAR},
      create_erp = #{createErp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_erp = #{updateErp,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      config_status = #{configStatus,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>