<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.boxFlow.CollectBoxFlowDirectionConfDao">
    <resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.boxFlow.CollectBoxFlowDirectionConf">
        <!--@mbg.generated-->
        <!--@Table collect_box_flow_direction_conf-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="start_org_id" jdbcType="INTEGER" property="startOrgId"/>
        <result column="start_org_name" jdbcType="VARCHAR" property="startOrgName"/>
        <result column="start_site_id" jdbcType="INTEGER" property="startSiteId"/>
        <result column="start_site_name" jdbcType="VARCHAR" property="startSiteName"/>
        <result column="end_org_id" jdbcType="INTEGER" property="endOrgId"/>
        <result column="end_org_name" jdbcType="VARCHAR" property="endOrgName"/>
        <result column="end_site_id" jdbcType="INTEGER" property="endSiteId"/>
        <result column="end_site_name" jdbcType="VARCHAR" property="endSiteName"/>
        <result column="box_receive_id" jdbcType="INTEGER" property="boxReceiveId"/>
        <result column="box_receive_name" jdbcType="VARCHAR" property="boxReceiveName"/>
        <result column="box_pkg_name" jdbcType="VARCHAR" property="boxPkgName"/>
        <result column="transport_type" jdbcType="INTEGER" property="transportType"/>
        <result column="flow_type" jdbcType="INTEGER" property="flowType"/>
        <result column="create_user_erp" jdbcType="VARCHAR" property="createUserErp"/>
        <result column="update_user_erp" jdbcType="VARCHAR" property="updateUserErp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
        <result column="yn" jdbcType="BOOLEAN" property="yn"/>
        <result column="collect_claim" jdbcType="INTEGER" property="collectClaim"/>
        <result column="if_change_since_last_update" jdbcType="INTEGER" property="ifChangeSinceLastUpdate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, start_org_id, start_org_name, start_site_id, start_site_name, end_org_id, end_org_name,
        end_site_id, end_site_name, box_receive_id, box_receive_name, box_pkg_name, transport_type,
        flow_type, create_user_erp, update_user_erp, create_time, update_time, ts, yn, collect_claim, if_change_since_last_update
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from collect_box_flow_direction_conf
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from collect_box_flow_direction_conf
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.jdl.basic.api.domain.boxFlow.CollectBoxFlowDirectionConf" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into collect_box_flow_direction_conf (start_org_id, start_org_name, start_site_id,
                                                     start_site_name, end_org_id, end_org_name,
                                                     end_site_id, end_site_name, box_receive_id,
                                                     box_receive_name, box_pkg_name, transport_type,
                                                     flow_type, create_user_erp, update_user_erp,
                                                     create_time, update_time, ts,
                                                     yn,collect_claim,if_change_since_last_update)
        values (#{startOrgId,jdbcType=INTEGER}, #{startOrgName,jdbcType=VARCHAR}, #{startSiteId,jdbcType=INTEGER},
                #{startSiteName,jdbcType=VARCHAR}, #{endOrgId,jdbcType=INTEGER}, #{endOrgName,jdbcType=VARCHAR},
                #{endSiteId,jdbcType=INTEGER}, #{endSiteName,jdbcType=VARCHAR}, #{boxReceiveId,jdbcType=INTEGER},
                #{boxReceiveName,jdbcType=VARCHAR}, #{boxPkgName,jdbcType=VARCHAR}, #{transportType,jdbcType=INTEGER},
                #{flowType,jdbcType=INTEGER}, #{createUserErp,jdbcType=VARCHAR}, #{updateUserErp,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{ts,jdbcType=TIMESTAMP},
                #{yn,jdbcType=BOOLEAN},#{collectClaim,jdbcType=INTEGER},#{ifChangeSinceLastUpdate,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.jdl.basic.api.domain.boxFlow.CollectBoxFlowDirectionConf" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into collect_box_flow_direction_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="startOrgId != null">
                start_org_id,
            </if>
            <if test="startOrgName != null">
                start_org_name,
            </if>
            <if test="startSiteId != null">
                start_site_id,
            </if>
            <if test="startSiteName != null">
                start_site_name,
            </if>
            <if test="endOrgId != null">
                end_org_id,
            </if>
            <if test="endOrgName != null">
                end_org_name,
            </if>
            <if test="endSiteId != null">
                end_site_id,
            </if>
            <if test="endSiteName != null">
                end_site_name,
            </if>
            <if test="boxReceiveId != null">
                box_receive_id,
            </if>
            <if test="boxReceiveName != null">
                box_receive_name,
            </if>
            <if test="boxPkgName != null">
                box_pkg_name,
            </if>
            <if test="transportType != null">
                transport_type,
            </if>
            <if test="flowType != null">
                flow_type,
            </if>
            <if test="createUserErp != null">
                create_user_erp,
            </if>
            <if test="updateUserErp != null">
                update_user_erp,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="ts != null">
                ts,
            </if>
            <if test="yn != null">
                yn,
            </if>
            <if test="collectClaim != null">
                collect_claim,
            </if>
            <if test="ifChangeSinceLastUpdate != null">
                if_change_since_last_update,
            </if>
            <if test="version != null">
                version
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="startOrgId != null">
                #{startOrgId,jdbcType=INTEGER},
            </if>
            <if test="startOrgName != null">
                #{startOrgName,jdbcType=VARCHAR},
            </if>
            <if test="startSiteId != null">
                #{startSiteId,jdbcType=INTEGER},
            </if>
            <if test="startSiteName != null">
                #{startSiteName,jdbcType=VARCHAR},
            </if>
            <if test="endOrgId != null">
                #{endOrgId,jdbcType=INTEGER},
            </if>
            <if test="endOrgName != null">
                #{endOrgName,jdbcType=VARCHAR},
            </if>
            <if test="endSiteId != null">
                #{endSiteId,jdbcType=INTEGER},
            </if>
            <if test="endSiteName != null">
                #{endSiteName,jdbcType=VARCHAR},
            </if>
            <if test="boxReceiveId != null">
                #{boxReceiveId,jdbcType=INTEGER},
            </if>
            <if test="boxReceiveName != null">
                #{boxReceiveName,jdbcType=VARCHAR},
            </if>
            <if test="boxPkgName != null">
                #{boxPkgName,jdbcType=VARCHAR},
            </if>
            <if test="transportType != null">
                #{transportType,jdbcType=INTEGER},
            </if>
            <if test="flowType != null">
                #{flowType,jdbcType=INTEGER},
            </if>
            <if test="createUserErp != null">
                #{createUserErp,jdbcType=VARCHAR},
            </if>
            <if test="updateUserErp != null">
                #{updateUserErp,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ts != null">
                #{ts,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                #{yn,jdbcType=BOOLEAN},
            </if>
            <if test="collectClaim != null">
                #{collectClaim,jdbcType=INTEGER},
            </if>
            <if test="ifChangeSinceLastUpdate != null">
                #{ifChangeSinceLastUpdate,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.jdl.basic.api.domain.boxFlow.CollectBoxFlowDirectionConf">
        <!--@mbg.generated-->
        update collect_box_flow_direction_conf
        <set>
            <if test="startOrgId != null">
                start_org_id = #{startOrgId,jdbcType=INTEGER},
            </if>
            <if test="startOrgName != null">
                start_org_name = #{startOrgName,jdbcType=VARCHAR},
            </if>
            <if test="startSiteId != null">
                start_site_id = #{startSiteId,jdbcType=INTEGER},
            </if>
            <if test="startSiteName != null">
                start_site_name = #{startSiteName,jdbcType=VARCHAR},
            </if>
            <if test="endOrgId != null">
                end_org_id = #{endOrgId,jdbcType=INTEGER},
            </if>
            <if test="endOrgName != null">
                end_org_name = #{endOrgName,jdbcType=VARCHAR},
            </if>
            <if test="endSiteId != null">
                end_site_id = #{endSiteId,jdbcType=INTEGER},
            </if>
            <if test="endSiteName != null">
                end_site_name = #{endSiteName,jdbcType=VARCHAR},
            </if>
            <if test="boxReceiveId != null">
                box_receive_id = #{boxReceiveId,jdbcType=INTEGER},
            </if>
            <if test="boxReceiveName != null">
                box_receive_name = #{boxReceiveName,jdbcType=VARCHAR},
            </if>
            <if test="boxPkgName != null">
                box_pkg_name = #{boxPkgName,jdbcType=VARCHAR},
            </if>
            <if test="transportType != null">
                transport_type = #{transportType,jdbcType=INTEGER},
            </if>
            <if test="flowType != null">
                flow_type = #{flowType,jdbcType=INTEGER},
            </if>
            <if test="createUserErp != null">
                create_user_erp = #{createUserErp,jdbcType=VARCHAR},
            </if>
            <if test="updateUserErp != null">
                update_user_erp = #{updateUserErp,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ts != null">
                ts = #{ts,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null">
                yn = #{yn,jdbcType=BOOLEAN},
            </if>
            <if test="collectClaim != null">
                collect_claim = #{collectClaim,jdbcType=INTEGER},
            </if>
            <if test="ifChangeSinceLastUpdate != null">
                if_change_since_last_update = #{ifChangeSinceLastUpdate,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jdl.basic.api.domain.boxFlow.CollectBoxFlowDirectionConf">
        <!--@mbg.generated-->
        update collect_box_flow_direction_conf
        set start_org_id     = #{startOrgId,jdbcType=INTEGER},
            start_org_name   = #{startOrgName,jdbcType=VARCHAR},
            start_site_id    = #{startSiteId,jdbcType=INTEGER},
            start_site_name  = #{startSiteName,jdbcType=VARCHAR},
            end_org_id       = #{endOrgId,jdbcType=INTEGER},
            end_org_name     = #{endOrgName,jdbcType=VARCHAR},
            end_site_id      = #{endSiteId,jdbcType=INTEGER},
            end_site_name    = #{endSiteName,jdbcType=VARCHAR},
            box_receive_id   = #{boxReceiveId,jdbcType=INTEGER},
            box_receive_name = #{boxReceiveName,jdbcType=VARCHAR},
            box_pkg_name     = #{boxPkgName,jdbcType=VARCHAR},
            transport_type   = #{transportType,jdbcType=INTEGER},
            flow_type        = #{flowType,jdbcType=INTEGER},
            create_user_erp  = #{createUserErp,jdbcType=VARCHAR},
            update_user_erp  = #{updateUserErp,jdbcType=VARCHAR},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP},
            ts               = #{ts,jdbcType=TIMESTAMP},
            yn               = #{yn,jdbcType=BOOLEAN},
            collect_claim    = #{collectClaim,jdbcType=INTEGER},
            if_change_since_last_update = #{ifChangeSinceLastUpdate,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectConfiged" resultMap="BaseResultMap">
        select *
        from collect_box_flow_direction_conf
        where yn = 1
          and box_receive_id != -1

        <if test="startOrgId != null">
            and start_org_id = #{startOrgId,jdbcType=INTEGER}
        </if>
        <if test="endOrgId != null">
            and end_org_id = #{endOrgId,jdbcType=VARCHAR}
        </if>
        <if test="startSiteId != null">
            and start_site_id = #{startSiteId,jdbcType=INTEGER}
        </if>
        <if test="startSiteName != null">
            and start_site_name = #{startSiteName,jdbcType=VARCHAR}
        </if>
        <if test="endSiteId != null">
            and end_site_id = #{endSiteId,jdbcType=INTEGER}
        </if>
        <if test="endSiteName != null">
            and end_site_name = #{endSiteName,jdbcType=VARCHAR}
        </if>
        <if test="flowType != null">
            and flow_type = #{flowType,jdbcType=INTEGER}
        </if>
        <if test="transportType != null">
            and transport_type = #{transportType,jdbcType=INTEGER}
        </if>
        <if test="boxReceiveId != null">
            and box_receive_id = #{boxReceiveId,jdbcType=INTEGER}
        </if>

        <if test="boxReceiveName != null">
            and box_receive_name = #{boxReceiveName,jdbcType=INTEGER}
        </if>

        <if test="boxPkgName != null">
            and box_pkg_name = #{boxReceiveName,jdbcType=INTEGER}
        </if>
        <if test="collectClaim != null">
            and collect_claim = #{collectClaim,jdbcType=INTEGER}
        </if>
        <if test="ifChangeSinceLastUpdate != null">
            and if_change_since_last_update = #{ifChangeSinceLastUpdate,jdbcType=INTEGER}
        </if>
        <if test="version != null">
            and version = #{version,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="select" resultMap="BaseResultMap">
        select *
        from collect_box_flow_direction_conf
        where yn = 1

        <if test="startOrgId != null">
            and start_org_id = #{startOrgId,jdbcType=INTEGER}
        </if>
        <if test="endOrgId != null">
            and end_org_id = #{endOrgId,jdbcType=VARCHAR}
        </if>
        <if test="startSiteId != null">
            and start_site_id = #{startSiteId,jdbcType=INTEGER}
        </if>
        <if test="startSiteName != null">
            and start_site_name = #{startSiteName,jdbcType=VARCHAR}
        </if>
        <if test="endSiteId != null">
            and end_site_id = #{endSiteId,jdbcType=INTEGER}
        </if>
        <if test="endSiteName != null">
            and end_site_name = #{endSiteName,jdbcType=VARCHAR}
        </if>
        <if test="flowType != null">
            and flow_type = #{flowType,jdbcType=INTEGER}
        </if>
        <if test="transportType != null">
            and transport_type = #{transportType,jdbcType=INTEGER}
        </if>
        <if test="boxReceiveId != null">
            and box_receive_id = #{boxReceiveId,jdbcType=INTEGER}
        </if>

        <if test="boxReceiveName != null">
            and box_receive_name = #{boxReceiveName,jdbcType=INTEGER}
        </if>

        <if test="boxPkgName != null">
            and box_pkg_name = #{boxReceiveName,jdbcType=INTEGER}
        </if>
        <if test="collectClaim != null">
            and collect_claim = #{collectClaim,jdbcType=INTEGER}
        </if>
        <if test="ifChangeSinceLastUpdate != null">
            and if_change_since_last_update = #{ifChangeSinceLastUpdate,jdbcType=INTEGER}
        </if>
        <if test="version != null">
            and version = #{version,jdbcType=VARCHAR}
        </if>
    </select>


    <update id="updateStartSiteNameById">
        update collect_box_flow_direction_conf
        set start_site_name = #{newStartSiteName,jdbcType=VARCHAR}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateEndSiteNameById">
        update collect_box_flow_direction_conf
        set end_site_name = #{newEndSiteName,jdbcType=VARCHAR}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateBoxReceiveNameById">
        update collect_box_flow_direction_conf
        set box_receive_name = #{newBoxReceiveName,jdbcType=VARCHAR}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="selectByParamAndWhetherConfiged" resultMap="BaseResultMap">
        select *
        from collect_box_flow_direction_conf
        where yn = 1
        <if test="conf.startOrgId != null">
            and start_org_id = #{conf.startOrgId,jdbcType=INTEGER}
        </if>
        <if test="conf.endOrgId != null">
            and end_org_id = #{conf.endOrgId,jdbcType=VARCHAR}
        </if>
        <if test="conf.startSiteId != null">
            and start_site_id = #{conf.startSiteId,jdbcType=INTEGER}
        </if>
        <if test="conf.startSiteName != null">
            and start_site_name = #{conf.startSiteName,jdbcType=VARCHAR}
        </if>
        <if test="conf.endSiteId != null">
            and end_site_id = #{conf.endSiteId,jdbcType=INTEGER}
        </if>
        <if test="conf.endSiteName != null">
            and end_site_name = #{conf.endSiteName,jdbcType=VARCHAR}
        </if>
        <if test="conf.flowType != null">
            and flow_type = #{conf.flowType,jdbcType=INTEGER}
        </if>
        <if test="conf.transportType != null">
            and transport_type = #{conf.transportType,jdbcType=INTEGER}
        </if>
        <if test="conf.boxReceiveId != null">
            and box_receive_id = #{conf.boxReceiveId,jdbcType=INTEGER}
        </if>

        <if test="conf.boxReceiveName != null">
            and box_receive_name = #{conf.boxReceiveName,jdbcType=INTEGER}
        </if>

        <if test="conf.boxPkgName != null">
            and box_pkg_name = #{conf.boxReceiveName,jdbcType=INTEGER}
        </if>
        <if test="configed==true">
            and box_receive_id is not null and box_receive_id!=-1
        </if>

        <if test="conf.collectClaim != null">
            and collect_claim = #{conf.collectClaim,jdbcType=INTEGER}
        </if>
        <if test="conf.ifChangeSinceLastUpdate != null">
            and if_change_since_last_update = #{conf.ifChangeSinceLastUpdate,jdbcType=INTEGER}
        </if>

        <if test="configed==false">
            and (box_receive_id is  null or box_receive_id=-1)
        </if>
        <if test="configed == null">
        </if>

    </select>

    <select id="selectByStartSiteIdAndEndSiteIds" resultMap="BaseResultMap">
        select *
        from collect_box_flow_direction_conf
        where yn = 1

        <if test="startOrgId != null">
            and start_org_id = #{startOrgId,jdbcType=INTEGER}
        </if>
        <if test="endOrgId != null">
            and end_org_id = #{endOrgId,jdbcType=VARCHAR}
        </if>
        <if test="startSiteId != null">
            and start_site_id = #{startSiteId,jdbcType=INTEGER}
        </if>
        <if test="startSiteName != null">
            and start_site_name = #{startSiteName,jdbcType=VARCHAR}
        </if>
        <if test="endSiteId != null">
            and end_site_id = #{endSiteId,jdbcType=INTEGER}
        </if>
        <if test="endSiteName != null">
            and end_site_name = #{endSiteName,jdbcType=VARCHAR}
        </if>
        <if test="flowType != null">
            and flow_type = #{flowType,jdbcType=INTEGER}
        </if>
        <if test="transportType != null">
            and transport_type = #{transportType,jdbcType=INTEGER}
        </if>
        <if test="boxReceiveId != null">
            and box_receive_id = #{boxReceiveId,jdbcType=INTEGER}
        </if>

        <if test="boxReceiveName != null">
            and box_receive_name = #{boxReceiveName,jdbcType=INTEGER}
        </if>

        <if test="boxPkgName != null">
            and box_pkg_name = #{boxReceiveName,jdbcType=INTEGER}
        </if>
        <if test="collectClaim != null">
            and collect_claim = #{collectClaim,jdbcType=INTEGER}
        </if>
        <if test="ifChangeSinceLastUpdate != null">
            and if_change_since_last_update = #{ifChangeSinceLastUpdate,jdbcType=INTEGER}
        </if>
        <if test="endSiteIds != null and endSiteIds.size() != 0">
            and end_site_id in
            <foreach collection="endSiteIds" item="item" open="(" separator="," close=")">
                #{item,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <delete id="deleteOldVersion" parameterType="java.util.Map">
        delete from collect_box_flow_direction_conf 
        where version &lt; #{version,jdbcType=VARCHAR} limit  #{deleteCount,jdbcType=INTEGER}
    </delete>
</mapper>
