<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdl.basic.provider.core.dao.position.PositionRecordDao" >

	<resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.position.PositionRecord" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="ref_grid_key" property="refGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="position_code" property="positionCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="BaseDetailResultMap" type="com.jdl.basic.api.domain.position.PositionDetailRecord" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="position_code" property="positionCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ref_station_key" property="refStationKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ref_grid_key" property="refGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_code" property="provinceAgencyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_name" property="provinceAgencyName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_code" property="areaHubCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_name" property="areaHubName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="site_name" property="siteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="floor" property="floor" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="grid_no" property="gridNo" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="grid_code" property="gridCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="grid_name" property="gridName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_code" property="areaCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_name" property="areaName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="work_code" property="workCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="work_name" property="workName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="business_line_code" property="businessLineCode" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="business_line_name" property="businessLineName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="dock_code" property="dockCode" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="supplier_code" property="supplierCode" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="supplier_name" property="supplierName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="ref_work_grid_key" property="refWorkGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="standard_num" property="standardNum" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="owner_user_erp" property="ownerUserErp" javaType="java.lang.Integer" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,position_code,site_code,ref_grid_key,remark,
		create_user,update_user,create_time,update_time,yn,ts
	</sql>

	<sql id="Base_Detail_Column_List" >
		g.id,g.ref_station_key,g.org_code,g.org_name,
		g.province_agency_code,g.province_agency_name,g.area_hub_code,g.area_hub_name,
		g.site_code,g.site_name,
		g.floor,g.grid_no,g.grid_code,g.grid_name,g.create_user,g.create_time,g.yn,
		g.dock_code,g.supplier_code,g.supplier_name,g.ref_work_grid_key,
		s.area_code,s.area_name,s.work_code,s.work_name,s.business_line_code,s.business_line_name,
		p.position_code,p.ref_grid_key,p.remark,p.update_user,p.update_time,p.ts,
		g.standard_num, g.owner_user_erp
	</sql>

	<insert id="insert" parameterType="com.jdl.basic.api.domain.position.PositionRecord" useGeneratedKeys="true" keyProperty="id">
		insert into position_record
		(
		<trim suffixOverrides=",">
			<if test="id != null" >
				id,
			</if>
			<if test="positionCode != null" >
				position_code,
			</if>
			<if test="siteCode != null" >
				site_code,
			</if>
			<if test="refGridKey != null" >
				ref_grid_key,
			</if>
			<if test="remark != null" >
				remark,
			</if>
			<if test="createUser != null" >
				create_user,
			</if>
			<if test="updateUser != null" >
				update_user,
			</if>
				create_time,
				update_time,
				yn,
				ts
		</trim>
		)
		values
		(
		<trim suffixOverrides=",">
			<if test="id != null" >
				#{id,jdbcType=BIGINT},
			</if>
			<if test="positionCode != null" >
				#{positionCode, jdbcType=VARCHAR},
			</if>
			<if test="siteCode != null" >
				#{siteCode, jdbcType=INTEGER},
			</if>
			<if test="refGridKey != null" >
				#{refGridKey, jdbcType=VARCHAR},
			</if>
			<if test="remark != null" >
				#{remark, jdbcType=VARCHAR},
			</if>
			<if test="createUser != null" >
				#{createUser, jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null" >
				#{updateUser, jdbcType=VARCHAR},
			</if>
			now(),
			now(),
			1,
			now()
		</trim>
		)
	</insert>

	<insert id="batchInsert" parameterType="List">
		insert into third_box_detail
		(
		position_code,site_code,ref_grid_key,remark,
		create_user,update_user,create_time,update_time,yn,ts
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.positionCode,jdbcType=VARCHAR},
			#{item.siteCode,jdbcType=INTEGER},
			#{item.refGridKey,jdbcType=VARCHAR},
			#{item.remark,jdbcType=VARCHAR},
			#{item.createUser,jdbcType=VARCHAR},
			#{item.updateUser,jdbcType=VARCHAR},
			now(),
			now(),
			 1,
			now()
			)
		</foreach>
	</insert>

	<update id="updateByPositionCode" parameterType="com.jdl.basic.api.domain.position.PositionRecord">
		update position_record
		<set>
			<if test="remark != null" >
				remark = #{remark, jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null" >
				update_user = #{updateUser, jdbcType=VARCHAR},
			</if>
			update_time = now()
		</set>
		where position_code = #{positionCode, jdbcType=VARCHAR} and yn = 1
	</update>

	<update id="deleteByBusinessKey" parameterType="com.jdl.basic.api.domain.position.PositionRecord">
		update position_record
		<set>
			<if test="updateUser != null" >
				update_user = #{updateUser, jdbcType=VARCHAR},
			</if>
			update_time = now(),yn = 0
		</set>
		where ref_grid_key = #{refGridKey, jdbcType=VARCHAR}
	</update>

	<select id="queryByPositionCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from
		position_record
		where yn = 1
		and position_code = #{positionCode,jdbcType=VARCHAR}
		limit 1
	</select>

	<select id="queryDetailByPositionCode" parameterType="java.lang.String" resultMap="BaseDetailResultMap">
		select
		<include refid="Base_Detail_Column_List"/>
		from
			position_record p
		inner join
			work_station_grid g on g.business_key = p.ref_grid_key and g.yn = 1
		inner join
			work_station s on g.ref_station_key = s.business_key and s.yn = 1
		where p.yn = 1
		and p.position_code = #{positionCode,jdbcType=VARCHAR}
		limit 1
	</select>

	<select id="queryByBusinessKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from position_record
		where
			yn = 1 and ref_grid_key = #{refGridKey, jdbcType=VARCHAR}
	</select>
    <select id="queryByGridKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from position_record
        where
            yn = 1 
          and ref_grid_key = #{refGridKey, jdbcType=VARCHAR}
          order by id desc
          limit 1
    </select>
	<select id="queryList" parameterType="com.jdl.basic.api.domain.position.PositionQuery" resultMap="BaseDetailResultMap">
		select
			<include refid="Base_Detail_Column_List"/>
		from
			position_record p
		inner join
			work_station_grid g on g.business_key = p.ref_grid_key and g.yn = 1
		inner join
			work_station s on g.ref_station_key = s.business_key and s.yn = 1
		<include refid="queryCondition"/>
		limit #{offset}, #{limit}
	</select>

	<select id="queryCount" parameterType="com.jdl.basic.api.domain.position.PositionQuery" resultType="Long">
		select
		       count(1)
		from
			position_record p
		inner join
			work_station_grid g on g.business_key = p.ref_grid_key and g.yn = 1
		inner join
			work_station s on g.ref_station_key = s.business_key and s.yn = 1
		<include refid="queryCondition"/>
	</select>

	<sql id="queryCondition">
		<where>
			p.yn = 1
			<if test="orgCode != null" >
				and g.org_code = #{orgCode,jdbcType=INTEGER}
			</if>
			<if test="provinceAgencyCode != null and provinceAgencyCode != ''" >
				and g.province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR}
			</if>
			<if test="areaHubCode != null and areaHubCode != ''" >
				and g.area_hub_code = #{areaHubCode,jdbcType=VARCHAR}
			</if>
			<if test="siteCode != null" >
				and g.site_code = #{siteCode,jdbcType=INTEGER}
			</if>
			<if test="areaCode != null and areaCode != ''" >
				and s.area_code = #{areaCode,jdbcType=VARCHAR}
			</if>
			<if test="floor != null" >
				and g.floor = #{floor,jdbcType=INTEGER}
			</if>
			<if test="gridNo != null and gridNo != ''" >
				and g.grid_no = #{gridNo,jdbcType=VARCHAR}
			</if>
			<if test="workCode != null and workCode != ''" >
				and s.work_code = #{workCode,jdbcType=VARCHAR}
			</if>
			<if test="refStationKeyList != null and refStationKeyList.size() >0" >
				and g.ref_station_key in
				<foreach collection="refStationKeyList" item="item" index="index" open="(" separator="," close=")">
					#{item,jdbcType=VARCHAR}
				</foreach>
			</if>
		</where>
	</sql>

</mapper>
