<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.workStation.SiteWaveScheduleDao">
    <resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.workStation.SiteWaveSchedule">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="org_code" jdbcType="INTEGER" property="orgCode" />
      <result column="org_name" jdbcType="VARCHAR" property="orgName" />
        <result column="province_agency_code" property="provinceAgencyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="province_agency_name" property="provinceAgencyName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="area_hub_code" property="areaHubCode" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="area_hub_name" property="areaHubName" javaType="java.lang.String" jdbcType="VARCHAR" />  
      <result column="site_code" jdbcType="INTEGER" property="siteCode" />
      <result column="site_name" jdbcType="VARCHAR" property="siteName" />
      <result column="business_line_code" jdbcType="VARCHAR" property="businessLineCode" />
      <result column="business_line_name" jdbcType="VARCHAR" property="businessLineName" />
      <result column="wave_code" jdbcType="TINYINT" property="waveCode" />
      <result column="wave_period" jdbcType="INTEGER" property="wavePeriod" />
      <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
      <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
      <result column="create_user" jdbcType="VARCHAR" property="createUser" />
      <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
      <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="version_num" jdbcType="INTEGER" property="versionNum" />
      <result column="yn" jdbcType="TINYINT" property="yn" />
      <result column="ts" jdbcType="TIMESTAMP" property="ts" />
    </resultMap>

    <sql id="Base_Column_List">
      id, org_code, org_name, province_agency_code,province_agency_name,area_hub_code,area_hub_name, 
      site_code, site_name, business_line_code, business_line_name,
      wave_code, wave_period, start_time, end_time, create_user, create_user_name, create_time,
      update_user, update_user_name, update_time, version_num, yn, ts
    </sql>

    <sql id="queryCondition">
        <where>
            s.yn = 1
            <if test="orgCode != null">
                and org_code = #{orgCode, jdbcType=INTEGER}
            </if>
            <if test="provinceAgencyCode != null and provinceAgencyCode != ''">
                and province_agency_code = #{provinceAgencyCode, jdbcType=VARCHAR}
            </if>
            <if test="areaHubCode != null and areaHubCode != ''">
                and area_hub_code = #{areaHubCode, jdbcType=VARCHAR}
            </if>
            <if test="siteCode != null">
                and site_code = #{siteCode, jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into site_wave_schedule
        (
            org_code,
            org_name,
            province_agency_code,province_agency_name,area_hub_code,area_hub_name,
            site_code,
            site_name,
            business_line_code,
            business_line_name,
            wave_code,
            wave_period,
            start_time,
            end_time,
            create_user,
            create_user_name,
            create_time,
            update_user,
            update_user_name,
            update_time,
            version_num
        )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.orgCode,jdbcType=INTEGER},
            #{item.orgName,jdbcType=VARCHAR},
            #{item.provinceAgencyCode,jdbcType=VARCHAR},#{item.provinceAgencyName,jdbcType=VARCHAR},#{item.areaHubCode,jdbcType=VARCHAR},#{item.areaHubName,jdbcType=VARCHAR},
            #{item.siteCode,jdbcType=INTEGER},
            #{item.siteName,jdbcType=VARCHAR},
            #{item.businessLineCode,jdbcType=VARCHAR},
            #{item.businessLineName,jdbcType=VARCHAR},
            #{item.waveCode,jdbcType=TINYINT},
            #{item.wavePeriod,jdbcType=INTEGER},
            #{item.startTime,jdbcType=TIMESTAMP},
            #{item.endTime,jdbcType=TIMESTAMP},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createUserName,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateUserName,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.versionNum,jdbcType=INTEGER}
        )
        </foreach>
    </insert>

    <select id="queryOldDataByBusinessKey" parameterType="com.jdl.basic.api.domain.workStation.SiteWaveSchedule" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            site_wave_schedule s
        where
            s.yn = 1 and
            s.site_code = #{siteCode, jdbcType=INTEGER}
        group by
            s.site_code
    </select>

    <update id="deleteOldDataByBusinessKey" parameterType="com.jdl.basic.api.domain.workStation.SiteWaveSchedule">
        update
            site_wave_schedule s
        set
            s.yn = 0,
            s.update_user = #{updateUser, jdbcType=VARCHAR},
            s.update_user_name = #{updateUserName, jdbcType=VARCHAR},
            s.update_time = #{updateTime, jdbcType=VARCHAR}
        where
            s.yn = 1 and
            s.site_code = #{siteCode, jdbcType=INTEGER}
    </update>

    <select id="queryTotalCount" parameterType="com.jdl.basic.api.domain.workStation.SiteWaveScheduleQuery" resultType="java.lang.Long">
        select
            count(*)
        from
            site_wave_schedule s
        <include refid="queryCondition"/>
        group by s.site_code
    </select>

    <select id="queryPageList" parameterType="com.jdl.basic.api.domain.workStation.SiteWaveScheduleQuery" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            site_wave_schedule s
        <include refid="queryCondition"/>
        group by
            s.site_code
        <if test="pageNumber > 0">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="queryPageDetail" parameterType="com.jdl.basic.api.domain.workStation.SiteWaveSchedule" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            site_wave_schedule s
        where
            s.yn = 1 and
            s.site_code = #{siteCode, jdbcType=INTEGER}
    </select>

    <!-- 刷数sql start -->
    <select id="brushQueryAllByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            id,site_code
        from
            site_wave_schedule
        where yn = 1
          and province_agency_code = ''
          and id > #{id,jdbcType=BIGINT}
        order by id
            limit 100
    </select>
    <update id="brushUpdateById" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            UPDATE site_wave_schedule
            <set>
                <if test="item.provinceAgencyCode != null and item.provinceAgencyCode != ''" >
                    province_agency_code = #{item.provinceAgencyCode,jdbcType=VARCHAR},
                </if>
                <if test="item.provinceAgencyName != null and item.provinceAgencyName != ''" >
                    province_agency_name = #{item.provinceAgencyName,jdbcType=VARCHAR},
                </if>
                <if test="item.areaHubCode != null and item.areaHubCode != ''" >
                    area_hub_code = #{item.areaHubCode,jdbcType=VARCHAR},
                </if>
                <if test="item.areaHubName != null and item.areaHubName != ''" >
                    area_hub_name = #{item.areaHubName,jdbcType=VARCHAR},
                </if>
                update_time = now()
            </set>
            WHERE yn = 1
            AND id = #{item.id}
        </foreach>
    </update>
    <!-- 刷数sql end -->
    
</mapper>