<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdl.basic.provider.core.dao.workStation.WorkGridFlowDirectionDao" >

	<resultMap id="WorkGridFlowDirection" type="com.jdl.basic.api.domain.workStation.WorkGridFlowDirection" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="ref_work_grid_key" property="refWorkGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="line_type" property="lineType" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="flow_direction_type" property="flowDirectionType" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="site_name" property="siteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_code" property="provinceAgencyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_name" property="provinceAgencyName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_code" property="areaHubCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_name" property="areaHubName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_site_code" property="flowSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="flow_site_name" property="flowSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_org_code" property="flowOrgCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="flow_org_name" property="flowOrgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_province_agency_code" property="flowProvinceAgencyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_province_agency_name" property="flowProvinceAgencyName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_area_hub_code" property="flowAreaHubCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_area_hub_name" property="flowAreaHubName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>
    <resultMap id="WorkGridFlowDirectionVo" type="com.jdl.basic.api.domain.workStation.WorkGridFlowDirectionVo" >
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
        <result column="ref_work_grid_key" property="refWorkGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="line_type" property="lineType" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="flow_direction_type" property="flowDirectionType" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="site_name" property="siteName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="org_code" property="orgCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_code" property="provinceAgencyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_name" property="provinceAgencyName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_code" property="areaHubCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_name" property="areaHubName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="flow_site_code" property="flowSiteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="flow_site_name" property="flowSiteName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="flow_org_code" property="flowOrgCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="flow_org_name" property="flowOrgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_province_agency_code" property="flowProvinceAgencyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_province_agency_name" property="flowProvinceAgencyName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_area_hub_code" property="flowAreaHubCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="flow_area_hub_name" property="flowAreaHubName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
        <result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="config_flow_status" property="configFlowStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="flow_site_use_status" property="flowSiteUseStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
        
    </resultMap>
	<sql id="Base_Column_List" >
		id,ref_work_grid_key,line_type,flow_direction_type,site_code,site_name,org_code,org_name,
		province_agency_code,province_agency_name,area_hub_code,area_hub_name,
		flow_site_code,flow_site_name,flow_org_code,flow_org_name,
		flow_province_agency_code,flow_province_agency_name,flow_area_hub_code,flow_area_hub_name,
		create_user,update_user,create_time,update_time,
		yn,ts
	</sql>
	<insert id="insert" parameterType="com.jdl.basic.api.domain.workStation.WorkGridFlowDirection" useGeneratedKeys="true" keyProperty="id">
		insert into work_grid_flow_direction
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					id,
				</if>
				<if test="refWorkGridKey != null" >
					ref_work_grid_key,
				</if>
				<if test="lineType != null" >
					line_type,
				</if>
				<if test="flowDirectionType != null" >
					flow_direction_type,
				</if>
				<if test="siteCode != null" >
					site_code,
				</if>
				<if test="siteName != null" >
					site_name,
				</if>
				<if test="orgCode != null" >
					org_code,
				</if>
				<if test="orgName != null" >
					org_name,
				</if>
				<if test="provinceAgencyCode != null" >
					province_agency_code,
				</if>
				<if test="provinceAgencyName != null" >
					province_agency_name,
				</if>
				<if test="areaHubCode != null" >
					area_hub_code,
				</if>
				<if test="areaHubName != null" >
					area_hub_name,
				</if>
				<if test="flowSiteCode != null" >
					flow_site_code,
				</if>
				<if test="flowSiteName != null" >
					flow_site_name,
				</if>
				<if test="flowOrgCode != null" >
					flow_org_code,
				</if>
				<if test="flowOrgName != null" >
					flow_org_name,
				</if>
				<if test="flowProvinceAgencyCode != null" >
					flow_province_agency_code,
				</if>
				<if test="flowProvinceAgencyName != null" >
					flow_province_agency_name,
				</if>
				<if test="flowAreaHubCode != null" >
					flow_area_hub_code,
				</if>
				<if test="flowAreaHubName != null" >
					flow_area_hub_name,
				</if>
				<if test="createUser != null" >
					create_user,
				</if>
				<if test="updateUser != null" >
					update_user,
				</if>
				<if test="createTime != null" >
					create_time,
				</if>
				<if test="updateTime != null" >
					update_time,
				</if>
				<if test="yn != null" >
					yn,
				</if>
				<if test="ts != null" >
					ts,
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					#{id,jdbcType=BIGINT},
				</if>
				<if test="refWorkGridKey != null" >
					#{refWorkGridKey,jdbcType=VARCHAR},
				</if>
				<if test="lineType != null" >
					#{lineType,jdbcType=INTEGER},
				</if>
				<if test="flowDirectionType != null" >
					#{flowDirectionType,jdbcType=INTEGER},
				</if>
				<if test="siteCode != null" >
					#{siteCode,jdbcType=INTEGER},
				</if>
				<if test="siteName != null" >
					#{siteName,jdbcType=VARCHAR},
				</if>
				<if test="orgCode != null" >
					#{orgCode,jdbcType=INTEGER},
				</if>
				<if test="orgName != null" >
					#{orgName,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyCode != null" >
					#{provinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyName != null" >
					#{provinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="areaHubCode != null" >
					#{areaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="areaHubName != null" >
					#{areaHubName,jdbcType=VARCHAR},
				</if>
				<if test="flowSiteCode != null" >
					#{flowSiteCode,jdbcType=INTEGER},
				</if>
				<if test="flowSiteName != null" >
					#{flowSiteName,jdbcType=VARCHAR},
				</if>
				<if test="flowOrgCode != null" >
					#{flowOrgCode,jdbcType=INTEGER},
				</if>
				<if test="flowOrgName != null" >
					#{flowOrgName,jdbcType=VARCHAR},
				</if>
				<if test="flowProvinceAgencyCode != null" >
					#{flowProvinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="flowProvinceAgencyName != null" >
					#{flowProvinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="flowAreaHubCode != null" >
					#{flowAreaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="flowAreaHubName != null" >
					#{flowAreaHubName,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					#{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					#{ts,jdbcType=TIMESTAMP},
				</if>
			</trim>
			)
	</insert>
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into work_grid_flow_direction
            (
		        ref_work_grid_key,
		        line_type,
		        flow_direction_type,
		        site_code,
		        site_name,
		        org_code,
		        org_name,
				province_agency_code,province_agency_name,area_hub_code,area_hub_name,
		        flow_site_code,
		        flow_site_name,
		        flow_org_code,
		        flow_org_name,
				flow_province_agency_code,flow_province_agency_name,flow_area_hub_code,flow_area_hub_name,
		        create_user,
		        create_time
            )
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.refWorkGridKey,jdbcType=VARCHAR},
                #{item.lineType,jdbcType=INTEGER},
                #{item.flowDirectionType,jdbcType=INTEGER},
                #{item.siteCode,jdbcType=INTEGER},
                #{item.siteName, jdbcType=VARCHAR},
                #{item.orgCode, jdbcType=INTEGER},
                #{item.orgName, jdbcType=VARCHAR},
				#{item.provinceAgencyCode, jdbcType=VARCHAR},#{item.provinceAgencyName, jdbcType=VARCHAR},#{item.areaHubCode, jdbcType=VARCHAR},#{item.areaHubName, jdbcType=VARCHAR},
                #{item.flowSiteCode, jdbcType=INTEGER},
                #{item.flowSiteName, jdbcType=VARCHAR},
                #{item.flowOrgCode, jdbcType=INTEGER},
                #{item.flowOrgName, jdbcType=VARCHAR},
				#{item.flowProvinceAgencyCode, jdbcType=VARCHAR},#{item.flowProvinceAgencyName, jdbcType=VARCHAR},#{item.flowAreaHubCode, jdbcType=VARCHAR},#{item.flowAreaHubName, jdbcType=VARCHAR},
                #{item.createUser,jdbcType=VARCHAR},
                #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
	<update id="updateById" parameterType="com.jdl.basic.api.domain.workStation.WorkGridFlowDirection">
		update work_grid_flow_direction
			<set>
				<if test="refWorkGridKey != null" >
					ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR},
				</if>
				<if test="lineType != null" >
					line_type = #{lineType,jdbcType=INTEGER},
				</if>
				<if test="flowDirectionType != null" >
					flow_direction_type = #{flowDirectionType,jdbcType=INTEGER},
				</if>
				<if test="siteCode != null" >
					site_code = #{siteCode,jdbcType=INTEGER},
				</if>
				<if test="siteName != null" >
					site_name = #{siteName,jdbcType=VARCHAR},
				</if>
				<if test="orgCode != null" >
					org_code = #{orgCode,jdbcType=INTEGER},
				</if>
				<if test="orgName != null" >
					org_name = #{orgName,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyCode != null and provinceAgencyCode != ''" >
					province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyName != null and provinceAgencyName != ''" >
					province_agency_name = #{provinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="areaHubCode != null and areaHubCode != ''" >
					area_hub_code = #{areaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="areaHubName != null and areaHubName != ''" >
					area_hub_name = #{areaHubName,jdbcType=VARCHAR},
				</if>
				<if test="flowSiteCode != null" >
					flow_site_code = #{flowSiteCode,jdbcType=INTEGER},
				</if>
				<if test="flowSiteName != null" >
					flow_site_name = #{flowSiteName,jdbcType=VARCHAR},
				</if>
				<if test="flowOrgCode != null" >
					flow_org_code = #{flowOrgCode,jdbcType=INTEGER},
				</if>
				<if test="flowOrgName != null" >
					flow_org_name = #{flowOrgName,jdbcType=VARCHAR},
				</if>
				<if test="flowProvinceAgencyCode != null and flowProvinceAgencyCode != ''" >
					flow_province_agency_code = #{flowProvinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="flowProvinceAgencyName != null and flowProvinceAgencyName != ''" >
					flow_province_agency_name = #{flowProvinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="flowAreaHubCode != null and flowAreaHubCode != ''" >
					flow_area_hub_code = #{flowAreaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="flowAreaHubName != null and flowAreaHubName != ''" >
					flow_area_hub_name = #{flowAreaHubName,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					create_user = #{createUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					update_time = #{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					yn = #{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="com.jdl.basic.api.domain.workStation.WorkGridFlowDirection">
		update work_grid_flow_direction
			set 
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			   yn = 0
		where id = #{id,jdbcType=BIGINT}
	</update>
    <update id="deleteByRefGridKey" parameterType="com.jdl.basic.api.domain.workStation.WorkGridFlowDirection">
        update work_grid_flow_direction
            set 
            <if test="updateUser != null" >
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
               yn = 0
        where ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
    </update>	
    <select id="queryByIds" parameterType="com.jdl.basic.api.domain.workStation.DeleteRequest" resultMap="WorkGridFlowDirection">
        select
            <include refid="Base_Column_List"/>
        from
            work_grid_flow_direction t
        where t.yn = 1
            and t.id in
        <foreach collection="dataList" item="item" open="(" close=")" separator=",">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </select>
    <update id="deleteByIds" parameterType="com.jdl.basic.api.domain.workStation.DeleteRequest">
        update work_grid_flow_direction
            set
            <if test="operateUserCode != null" >
                update_user = #{operateUserCode,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null" >
                update_time = #{operateTime,jdbcType=TIMESTAMP},
            </if>
               yn = 0
        where yn = 1
            and id in
        <foreach collection="dataList" item="item" open="(" close=")" separator=",">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
	<select id="queryById" parameterType="java.lang.Long" resultMap="WorkGridFlowDirection">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_flow_direction t
		where yn = 1 and id = #{id,jdbcType=BIGINT}
	</select>

	<select id="queryList" resultMap="WorkGridFlowDirection">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_flow_direction t
		<include refid="queryCondition"/>
		limit #{offset}, #{limit}
	</select>

	<select id="queryCount" resultType="long">
		select
			count(1)
		from
			work_grid_flow_direction t
		<include refid="queryCondition"/>
	</select>

	<sql id="queryCondition">
		<where>
			yn = 1 
              and t.ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
              and t.line_type = #{lineType,jdbcType=INTEGER}
          <if test="flowDirectionType != null" >
              and t.flow_direction_type = #{flowDirectionType,jdbcType=INTEGER}
          </if>
          <if test="flowSiteCode != null and flowSiteCode != ''" >
              and t.flow_site_code = #{flowSiteCode,jdbcType=INTEGER}
          </if>          			
		</where>
	</sql>
    <select id="queryListForWorkGridVo" resultMap="WorkGridFlowDirection">
        select
            line_type,flow_direction_type,flow_site_code,flow_site_name
        from
            work_grid_flow_direction t
        where yn = 1 
          and ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
          and flow_direction_type = #{flowDirectionType,jdbcType=INTEGER}
         order by line_type,flow_site_code
        limit 200
    </select>
    <select id="queryExistFlowSiteCodeList" resultType="int">
        select
            flow_site_code
        from
            work_grid_flow_direction t
        where yn = 1 
          <if test="refWorkGridKey != null and refWorkGridKey != ''" >
              and ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
          </if>
          <if test="refWorkGridKeyList != null and refWorkGridKeyList.size() > 0" >
		      and ref_work_grid_key in
		      <foreach collection="refWorkGridKeyList" item="item" open="(" close=")" separator=",">
		         #{item,jdbcType=VARCHAR}
		      </foreach>
          </if>          
          and line_type = #{lineType,jdbcType=INTEGER}
          and flow_direction_type = #{flowDirectionType,jdbcType=INTEGER}
          and flow_site_code in 
        <foreach collection="flowSiteCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
        limit 500
    </select> 
    <!-- 选择流向-查询路由推荐未配置的流向 --> 
    <select id="queryFlowDataForSelect1" resultMap="WorkGridFlowDirectionVo">
        select ref_work_grid_key,flow_site_code,flow_site_name,flow_org_code,flow_org_name,
				flow_province_agency_code,flow_province_agency_name,flow_area_hub_code,flow_area_hub_name,
               0 as config_flow_status,1 as flow_site_use_status
          from work_grid_flow_detail_offline o 
           <include refid="queryFlowDataForSelectConditionOffline"/> 
            and not exists(
	            select 1 from work_grid_flow_direction t 
	              <include refid="queryFlowDataForSelectCondition"/>
	              and t.flow_site_code = o.flow_site_code
                )
	    order by o.id
        limit #{offset}, #{limit}
    </select>

    <select id="queryFlowDataForSelectCount1" resultType="long">
        select count(1) 
          from work_grid_flow_detail_offline o 
           <include refid="queryFlowDataForSelectConditionOffline"/> 
            and not exists(
                select t.flow_site_code from work_grid_flow_direction t 
                  <include refid="queryFlowDataForSelectCondition"/>
                  and t.flow_site_code = o.flow_site_code
                )
    </select>
    <!-- 选择流向-查询路由未推荐已配置的流向 --> 
    <select id="queryFlowDataForSelect2" resultMap="WorkGridFlowDirectionVo">
        select ref_work_grid_key,flow_site_code,flow_site_name,flow_org_code,flow_org_name,
				flow_province_agency_code,flow_province_agency_name,flow_area_hub_code,flow_area_hub_name,
               1 as config_flow_status,0 as flow_site_use_status
           from work_grid_flow_direction t 
           <include refid="queryFlowDataForSelectCondition"/>
	           and not exists(
	            select 1 from work_grid_flow_detail_offline o 
	           <include refid="queryFlowDataForSelectConditionOffline"/>
	           and o.flow_site_code = t.flow_site_code
	        )
        order by t.id
        limit #{offset}, #{limit}
    </select>

    <select id="queryFlowDataForSelectCount2" resultType="long">
        select count(1)
           from work_grid_flow_direction t 
           <include refid="queryFlowDataForSelectCondition"/>
               and not exists(
                select 1 from work_grid_flow_detail_offline o 
               <include refid="queryFlowDataForSelectConditionOffline"/>
               and o.flow_site_code = t.flow_site_code
            )
    </select>
    <!-- !选择流向-查询路由推荐已配置的流向 --> 
    <select id="queryFlowDataForSelect3" resultMap="WorkGridFlowDirectionVo">
        select ref_work_grid_key,flow_site_code,flow_site_name,flow_org_code,flow_org_name,
				flow_province_agency_code,flow_province_agency_name,flow_area_hub_code,flow_area_hub_name,
               1 as config_flow_status,1 as flow_site_use_status
           from work_grid_flow_direction t 
           <include refid="queryFlowDataForSelectCondition"/>
	           and exists(
	            select 1 from work_grid_flow_detail_offline o 
	           <include refid="queryFlowDataForSelectConditionOffline"/>
	           and o.flow_site_code = t.flow_site_code
            )
        order by t.id
        limit #{offset}, #{limit}
    </select>

    <select id="queryFlowDataForSelectCount3" resultType="long">
        select count(1) 
           from work_grid_flow_direction t 
           <include refid="queryFlowDataForSelectCondition"/>
               and exists(
                select 1 from work_grid_flow_detail_offline o 
               <include refid="queryFlowDataForSelectConditionOffline"/>
               and o.flow_site_code = t.flow_site_code
            )
    </select>        
    <sql id="queryFlowDataForSelectCondition">
          where t.yn = 1 
	        and t.ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
	        and t.line_type = #{lineType,jdbcType=INTEGER}
	        and t.flow_direction_type = #{flowDirectionType,jdbcType=INTEGER}
          <if test="flowSiteCode != null and flowSiteCode != ''" >
              and t.flow_site_code = #{flowSiteCode,jdbcType=INTEGER}
          </if>
    </sql>     
    <sql id="queryFlowDataForSelectConditionOffline">
        where o.dt = #{dt,jdbcType=VARCHAR}    
	      and o.ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
	      and o.line_type = #{lineType,jdbcType=INTEGER}
	      and o.flow_direction_type = #{flowDirectionType,jdbcType=INTEGER}
        <if test="flowSiteCode != null and flowSiteCode != ''" >
          and o.flow_site_code = #{flowSiteCode,jdbcType=INTEGER}
         </if>                     
    </sql>

	<!-- 刷数sql start -->
	<select id="brushQueryAllByPage" parameterType="java.lang.Integer" resultMap="WorkGridFlowDirection">
		select
			id,site_code,flow_site_code
		from
			work_grid_flow_direction
		where yn = 1
		  and province_agency_code = ''
		  and id > #{id,jdbcType=BIGINT}
		order by id
			limit 100
	</select>
	<update id="brushUpdateById" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"  separator=";">
			UPDATE work_grid_flow_direction
			<set>
				<if test="item.provinceAgencyCode != null and item.provinceAgencyCode != ''" >
					province_agency_code = #{item.provinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="item.provinceAgencyName != null and item.provinceAgencyName != ''" >
					province_agency_name = #{item.provinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="item.areaHubCode != null and item.areaHubCode != ''" >
					area_hub_code = #{item.areaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="item.areaHubName != null and item.areaHubName != ''" >
					area_hub_name = #{item.areaHubName,jdbcType=VARCHAR},
				</if>
				<if test="item.flowProvinceAgencyCode != null and item.flowProvinceAgencyCode != ''" >
					flow_province_agency_code = #{item.flowProvinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="item.flowProvinceAgencyName != null and item.flowProvinceAgencyName != ''" >
					flow_province_agency_name = #{item.flowProvinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="item.flowAreaHubCode != null and item.flowAreaHubCode != ''" >
					flow_area_hub_code = #{item.flowAreaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="item.flowAreaHubName != null and item.flowAreaHubName != ''" >
					flow_area_hub_name = #{item.flowAreaHubName,jdbcType=VARCHAR},
				</if>
				update_time = now()
			</set>
			WHERE yn = 1
			AND id = #{item.id}
		</foreach>
	</update>
	<!-- 刷数sql end -->

	<select id="queryRefWorkGridKeyByFlowDirection" resultType="java.lang.String">
		select ref_work_grid_key
		from work_grid_flow_direction
		where yn = 1
		and flow_direction_type = #{flowDirectionType,jdbcType=INTEGER}
		and flow_site_code = #{flowSiteCode,jdbcType=INTEGER}
		and site_code = #{siteCode,jdbcType=INTEGER}
		limit #{offset}, #{limit}
	</select>
	<select id="queryFlowDirectionByCondition" resultType="java.lang.String">
		select
		ref_work_grid_key
		from
			work_grid_flow_direction
		where yn = 1
		and ref_work_grid_key in
		<foreach collection="refWorkGridKeyList" item="item" open="(" close=")" separator=",">
			#{item,jdbcType=VARCHAR}
		</foreach>
		<if test="lineTypeList != null and lineTypeList.size() != 0">
			and line_type in
			<foreach collection="lineTypeList" item="item" open="(" close=")" separator=",">
				#{item,jdbcType=INTEGER}
			</foreach>
		</if>
		and flow_direction_type = #{flowDirectionType,jdbcType=INTEGER}
		and flow_site_code = #{flowSiteCode,jdbcType=VARCHAR}
		limit 1
	</select>
</mapper>
