<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdl.basic.provider.core.dao.workStation.WorkStationGridDao" >

	<resultMap id="WorkStationGrid" type="com.jdl.basic.api.domain.workStation.WorkStationGrid" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="business_key" property="businessKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="org_name" property="orgName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_code" property="provinceAgencyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="province_agency_name" property="provinceAgencyName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_code" property="areaHubCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_hub_name" property="areaHubName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="site_name" property="siteName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="floor" property="floor" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="area_type" property="areaType" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="grid_no" property="gridNo" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="grid_code" property="gridCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="grid_name" property="gridName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="standard_num" property="standardNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="owner_user_erp" property="ownerUserErp" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ref_station_key" property="refStationKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="area_code" property="areaCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="area_name" property="areaName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="work_code" property="workCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="work_name" property="workName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="dock_code" property="dockCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="supplier_code" property="supplierCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="supplier_name" property="supplierName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="ref_work_grid_key" property="refWorkGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="status" property="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="delete_fail_message" property="deleteFailMessage" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="WorkStationGridCountVo" type="com.jdl.basic.api.domain.workStation.WorkStationGridCountVo" >
		<result column="area_num" property="areaNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="work_num" property="workNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="grid_no_num" property="gridNoNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List" >
		g.id,g.business_key,g.org_code,g.org_name,
		g.province_agency_code,g.province_agency_name,g.area_hub_code,g.area_hub_name,
		g.site_code,g.site_name,g.floor,g.grid_no,g.grid_code,g.grid_name,g.standard_num,
		g.owner_user_erp,g.ref_station_key,g.create_user,g.create_user_name,g.update_user,
		g.update_user_name,g.create_time,g.update_time,g.yn,g.ts,g.dock_code,g.supplier_code,g.supplier_name,
		g.ref_work_grid_key,
		s.area_code,s.area_name,s.work_code,s.work_name,g.status,g.delete_fail_message
	</sql>

	<sql id="Base_Column_List_WorkStationGrid" >
		g.id,g.business_key,g.org_code,g.org_name,
		g.province_agency_code,g.province_agency_name,g.area_hub_code,g.area_hub_name,
		g.site_code,g.site_name,g.floor,g.grid_no,g.grid_code,g.grid_name,g.standard_num,
		g.owner_user_erp,g.ref_station_key,g.create_user,g.create_user_name,g.update_user,
		g.update_user_name,g.create_time,g.update_time,g.yn,g.ts,g.dock_code,g.supplier_code,g.supplier_name,
		g.ref_work_grid_key
	</sql>

	<insert id="insert" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid" useGeneratedKeys="true" keyProperty="id">
		insert into work_station_grid
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					id,
				</if>
				<if test="businessKey != null" >
					business_key,
				</if>
				<if test="orgCode != null" >
					org_code,
				</if>
				<if test="orgName != null" >
					org_name,
				</if>
				<if test="provinceAgencyCode != null" >
					province_agency_code,
				</if>
				<if test="provinceAgencyName != null" >
					province_agency_name,
				</if>
				<if test="areaHubCode != null" >
					area_hub_code,
				</if>
				<if test="areaHubName != null" >
					area_hub_name,
				</if>
				<if test="siteCode != null" >
					site_code,
				</if>
				<if test="siteName != null" >
					site_name,
				</if>
				<if test="floor != null" >
					floor,
				</if>
				<if test="gridNo != null" >
					grid_no,
				</if>
				<if test="gridCode != null" >
					grid_code,
				</if>
				<if test="gridName != null" >
					grid_name,
				</if>
				<if test="standardNum != null" >
					standard_num,
				</if>
				<if test="ownerUserErp != null" >
					owner_user_erp,
				</if>
				<if test="refStationKey != null" >
					ref_station_key,
				</if>
				<if test="createUser != null" >
					create_user,
				</if>
				<if test="createUserName != null" >
					create_user_name,
				</if>
				<if test="updateUser != null" >
					update_user,
				</if>
				<if test="updateUserName != null" >
					update_user_name,
				</if>
				<if test="createTime != null" >
					create_time,
				</if>
				<if test="updateTime != null" >
					update_time,
				</if>
				<if test="yn != null" >
					yn,
				</if>
				<if test="ts != null" >
					ts,
				</if>
				<if test="dockCode != null" >
					dock_code,
				</if>
				<if test="supplierCode != null" >
					supplier_code,
				</if>
				<if test="supplierName != null" >
					supplier_name,
				</if>
                <if test="refWorkGridKey != null" >
                    ref_work_grid_key,
                </if>
				<if test="status != null" >
					status,
				</if>
				<if test="deleteFailMessage != null" >
					delete_fail_message,
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					#{id,jdbcType=BIGINT},
				</if>
				<if test="businessKey != null" >
					#{businessKey,jdbcType=VARCHAR},
				</if>
				<if test="orgCode != null" >
					#{orgCode,jdbcType=INTEGER},
				</if>
				<if test="orgName != null" >
					#{orgName,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyCode != null" >
					#{provinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyName != null" >
					#{provinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="areaHubCode != null" >
					#{areaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="areaHubName != null" >
					#{areaHubName,jdbcType=VARCHAR},
				</if>
				<if test="siteCode != null" >
					#{siteCode,jdbcType=INTEGER},
				</if>
				<if test="siteName != null" >
					#{siteName,jdbcType=VARCHAR},
				</if>
				<if test="floor != null" >
					#{floor,jdbcType=INTEGER},
				</if>
				<if test="gridNo != null" >
					#{gridNo,jdbcType=VARCHAR},
				</if>
				<if test="gridCode != null" >
					#{gridCode,jdbcType=VARCHAR},
				</if>
				<if test="gridName != null" >
					#{gridName,jdbcType=VARCHAR},
				</if>
				<if test="standardNum != null" >
					#{standardNum,jdbcType=INTEGER},
				</if>
				<if test="ownerUserErp != null" >
					#{ownerUserErp,jdbcType=VARCHAR},
				</if>
				<if test="refStationKey != null" >
					#{refStationKey,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					#{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					#{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					#{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					#{ts,jdbcType=TIMESTAMP},
				</if>
				<if test="dockCode != null" >
					#{dockCode,jdbcType=VARCHAR},
				</if>
				<if test="supplierCode != null" >
					#{supplierCode,jdbcType=VARCHAR},
				</if>
				<if test="supplierName != null" >
					#{supplierName,jdbcType=VARCHAR},
				</if>
                <if test="refWorkGridKey != null" >
                    #{refWorkGridKey,jdbcType=VARCHAR},
                </if>
				<if test="status != null" >
					#{status,jdbcType=INTEGER},
				</if>
				<if test="deleteFailMessage != null" >
					#{deleteFailMessage,jdbcType=VARCHAR},
				</if>
			</trim>
			)
	</insert>

	<update id="updateById" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid">
		update work_station_grid
			<set>
				<if test="id != null" >
					id = #{id,jdbcType=BIGINT},
				</if>
				<if test="businessKey != null" >
					business_key = #{businessKey,jdbcType=VARCHAR},
				</if>
				<if test="orgCode != null" >
					org_code = #{orgCode,jdbcType=INTEGER},
				</if>
				<if test="orgName != null" >
					org_name = #{orgName,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyCode != null and provinceAgencyCode != ''" >
					province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="provinceAgencyName != null and provinceAgencyName != ''" >
					province_agency_name = #{provinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="areaHubCode != null and areaHubCode != ''" >
					area_hub_code = #{areaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="areaHubName != null and areaHubName != ''" >
					area_hub_name = #{areaHubName,jdbcType=VARCHAR},
				</if>
				<if test="siteCode != null" >
					site_code = #{siteCode,jdbcType=INTEGER},
				</if>
				<if test="siteName != null" >
					site_name = #{siteName,jdbcType=VARCHAR},
				</if>
				<if test="floor != null" >
					floor = #{floor,jdbcType=INTEGER},
				</if>
				<if test="gridNo != null" >
					grid_no = #{gridNo,jdbcType=VARCHAR},
				</if>
				<if test="gridCode != null" >
					grid_code = #{gridCode,jdbcType=VARCHAR},
				</if>
				<if test="gridName != null" >
					grid_name = #{gridName,jdbcType=VARCHAR},
				</if>
				<if test="standardNum != null" >
					standard_num = #{standardNum,jdbcType=INTEGER},
				</if>
				<if test="ownerUserErp != null" >
					owner_user_erp = #{ownerUserErp,jdbcType=VARCHAR},
				</if>
				<if test="refStationKey != null" >
					ref_station_key = #{refStationKey,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					create_user = #{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					create_user_name = #{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					update_user_name = #{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					update_time = #{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					yn = #{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
				<if test="dockCode != null" >
					dock_code = #{dockCode,jdbcType=VARCHAR},
				</if>
				<if test="supplierCode != null" >
					supplier_code = #{supplierCode,jdbcType=VARCHAR},
				</if>
				<if test="supplierName != null" >
					supplier_name = #{supplierName,jdbcType=VARCHAR},
				</if>
                <if test="refWorkGridKey != null" >
                    ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR},
                </if>
				<if test="status != null" >
					status = #{status,jdbcType=INTEGER},
				</if>
				<if test="deleteFailMessage != null" >
					delete_fail_message = #{deleteFailMessage,jdbcType=VARCHAR},
				</if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid">
		update work_station_grid
			set
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			   yn = 0
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteByBusinessKey" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid">
		update work_station_grid
			set
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			   yn = 0
		where yn = 1
			and	site_code = #{siteCode,jdbcType=INTEGER}
			and floor = #{floor,jdbcType=INTEGER}
			and	grid_no = #{gridNo,jdbcType=VARCHAR}
			and ref_station_key = #{refStationKey,jdbcType=VARCHAR}
	</update>

	<select id="queryByBusinessKey" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid" resultMap="WorkStationGrid">
		select
			<include refid="Base_Column_List"/>
		from
			work_station_grid g
		<include refid="joinSql"/>
		where g.yn = 1
			and	g.site_code = #{siteCode,jdbcType=INTEGER}
			and g.floor = #{floor,jdbcType=INTEGER}
			and	g.grid_no = #{gridNo,jdbcType=VARCHAR}
			and g.ref_station_key = #{refStationKey,jdbcType=VARCHAR}
		order by g.id desc
		limit 1
	</select>

	<select id="queryById" parameterType="java.lang.Long" resultMap="WorkStationGrid">
		select
			<include refid="Base_Column_List"/>
		from
			work_station_grid g
		<include refid="joinSql"/>
		where g.yn = 1 and g.id = #{id,jdbcType=BIGINT}
	</select>
    <select id="queryCountByRefGridKey" parameterType="java.lang.String" resultType="int">
        select
            count(1) num
        from
            work_station_grid g
        where g.yn = 1 
          and g.ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
    </select>
	<select id="queryList" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			<include refid="Base_Column_List"/>
		from
			work_station_grid g
		<include refid="joinSql"/>
		<include refid="queryCondition"/>
		<if test="pageNumber > 0">
            limit #{offset}, #{limit}
        </if>
	</select>
	<select id="queryListForExport" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			<include refid="Base_Column_List"/>
		from
			work_station_grid g
		<include refid="joinSql"/>
		<include refid="queryCondition"/>
		order by g.id
        limit #{offset}, #{limit}
	</select>
	<select id="queryCount" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultType="long">
		select
			count(1)
		from
			work_station_grid g
		<include refid="joinSql"/>
		<include refid="queryCondition"/>
	</select>

	<select id="queryPageCount" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGridCountVo">
		select
			count(distinct s.area_code) area_num,
			count(distinct s.work_code) work_num,
			count(distinct g.grid_no) grid_no_num
		from
			work_station_grid g
		<include refid="joinSql"/>
		<include refid="queryCondition"/>
	</select>

	<sql id="joinSql">
	 left outer join work_station s on g.ref_station_key = s.business_key and s.yn = 1
	</sql>

	<sql id="queryCondition">
		<where>
			g.yn = 1
		<if test="orgCode != null" >
			and g.org_code = #{orgCode,jdbcType=INTEGER}
		</if>
		<if test="provinceAgencyCode != null and provinceAgencyCode != ''" >
			and g.province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR}
		</if>
		<if test="areaHubCode != null and areaHubCode != ''" >
			and g.area_hub_code = #{areaHubCode,jdbcType=VARCHAR}
		</if>
		<if test="siteCode != null" >
			and g.site_code = #{siteCode,jdbcType=INTEGER}
		</if>
		<if test="workCode != null and workCode != ''" >
			and s.work_code = #{workCode,jdbcType=VARCHAR}
		</if>
		<if test="floor != null" >
			and g.floor = #{floor,jdbcType=INTEGER}
		</if>
		<if test="gridNo != null and gridNo != ''" >
			and g.grid_no = #{gridNo,jdbcType=VARCHAR}
		</if>
		<if test="areaCode != null and areaCode != ''" >
			and s.area_code = #{areaCode,jdbcType=VARCHAR}
		</if>
		<if test="dockCode != null and dockCode != ''" >
			and g.dock_code = #{dockCode,jdbcType=VARCHAR}
		</if>
		<if test="supplierCode != null and supplierCode != ''" >
			and g.supplier_code = #{supplierCode,jdbcType=VARCHAR}
		</if>
		</where>
	</sql>

	<select id="queryAllGridBySiteCode" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			grid_code,max(grid_name) grid_name
		from
			work_station_grid g
		where g.yn = 1
		    and g.site_code = #{siteCode,jdbcType=INTEGER}
		group by grid_code
	</select>

	<select id="queryGridAreaDictList" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			s.area_code,max(s.area_name) area_name
		from
			work_station_grid g
			<include refid="joinSql"/>
		where g.yn = 1
		    and g.site_code = #{siteCode,jdbcType=INTEGER}
		    and s.area_code is not null
		<if test="floor != null" >
			and g.floor = #{floor,jdbcType=INTEGER}
		</if>
		group by s.area_code
	</select>
	<select id="queryGridWorkDictList" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			s.work_code,max(s.work_name) work_name
		from
			work_station_grid g
			<include refid="joinSql"/>
		where g.yn = 1
		    and g.site_code = #{siteCode,jdbcType=INTEGER}
		    and s.work_code is not null
		<if test="floor != null" >
			and g.floor = #{floor,jdbcType=INTEGER}
		</if>
		<if test="gridNo != null and gridNo != ''" >
			and g.grid_no = #{gridNo,jdbcType=VARCHAR}
		</if>
		<if test="areaCode != null and areaCode != ''" >
			and s.area_code = #{areaCode,jdbcType=VARCHAR}
		</if>
		group by s.work_code
	</select>
	<select id="queryGridNoDictList" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			g.grid_no,max(g.grid_name) grid_name
		from
			work_station_grid g
			<include refid="joinSql"/>
		where g.yn = 1
		    and g.site_code = #{siteCode,jdbcType=INTEGER}
		    and g.grid_no is not null
		<if test="floor != null" >
			and g.floor = #{floor,jdbcType=INTEGER}
		</if>
		<if test="areaCode != null and areaCode != ''" >
			and s.area_code = #{areaCode,jdbcType=VARCHAR}
		</if>
		group by g.grid_no
	</select>
	<select id="queryGridFloorDictList" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			g.floor
		from
			work_station_grid g
		where g.yn = 1
		    and g.site_code = #{siteCode,jdbcType=INTEGER}
		    and g.floor is not null
		group by g.floor
	</select>
	<select id="querySiteListByOrgCode" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			g.site_code,max(g.site_name) site_name
		from
			work_station_grid g
		where g.yn = 1
		    and g.org_code = #{orgCode,jdbcType=INTEGER}
		    and g.site_code is not null
		group by g.site_code
	</select>
	<select id="queryOwnerUserErpListBySiteCode" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultType="String">
		select
			distinct g.owner_user_erp
		from
			work_station_grid g
		where g.yn = 1
		    and g.site_code = #{siteCode,jdbcType=INTEGER}
		    and g.owner_user_erp is not null
	</select>
	<select id="queryCountByRefStationKey" parameterType="java.lang.String" resultType="long">
		select
			count(1)
		from
			work_station_grid g
		where g.yn = 1
		    and g.ref_station_key = #{refStationKey,jdbcType=VARCHAR}
	</select>

	<select id="queryAllByPage" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
			site_code,business_key,create_user,update_user,create_time,update_time
		from
			work_station_grid
		where yn = 1
		limit #{offset}, #{limit}
	</select>

	<select id="queryByIds" parameterType="com.jdl.basic.api.domain.workStation.DeleteRequest" resultMap="WorkStationGrid">
		select
			<include refid="Base_Column_List"/>
		from
			work_station_grid g
		<include refid="joinSql"/>
		where g.yn = 1
		 	and g.id in
		<foreach collection="dataList" item="item" open="(" close=")" separator=",">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</select>
	<update id="deleteByIds" parameterType="com.jdl.basic.api.domain.workStation.DeleteRequest">
		update work_station_grid
			set
			<if test="operateUserCode != null" >
				update_user = #{operateUserCode,jdbcType=VARCHAR},
			</if>
			<if test="operateUserName != null" >
				update_user_name = #{operateUserName,jdbcType=VARCHAR},
			</if>
			<if test="operateTime != null" >
				update_time = #{operateTime,jdbcType=TIMESTAMP},
			</if>
			   yn = 0
		where yn = 1
		 	and id in
		<foreach collection="dataList" item="item" open="(" close=")" separator=",">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>
	<select id="queryByGridKey" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid" resultMap="WorkStationGrid">
		select
			<include refid="Base_Column_List"/>
		from
			work_station_grid g
		<include refid="joinSql"/>
		where g.yn = 1
			and	g.business_key = #{businessKey,jdbcType=VARCHAR}
		order by g.id desc
		limit 1
	</select>
	<select id="queryListDistinct" parameterType="com.jdl.basic.api.domain.workStation.WorkStationFloorGridQuery" resultMap="WorkStationGrid">
		select distinct
		g.org_code,g.org_name,
		g.province_agency_code,g.province_agency_name,g.area_hub_code,g.area_hub_name,
		g.site_code,g.floor,g.grid_no,g.grid_code,g.grid_name,
		s.area_code,s.area_name,ifnull(s.area_type,0) area_type
		from
			work_station_grid g
		<include refid="joinSql"/>
		<include refid="queryDistinctCondition"/>
		<if test="pageNumber > 0">
			limit #{offset}, #{limit}
		</if>
	</select>
	<sql id="queryDistinctCondition">
		<where>
			g.yn = 1
			<if test="orgCode != null and orgCode != ''" >
				and g.org_code = #{orgCode,jdbcType=INTEGER}
			</if>
			<if test="provinceAgencyCode != null and provinceAgencyCode != ''" >
				and g.province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR}
			</if>
			<if test="areaHubCode != null and areaHubCode != ''" >
				and g.area_hub_code = #{areaHubCode,jdbcType=VARCHAR}
			</if>
			<if test="siteCode != null and siteCode != ''" >
				and g.site_code = #{siteCode,jdbcType=INTEGER}
			</if>
			<if test="floor != null and floor != ''" >
				and g.floor = #{floor,jdbcType=INTEGER}
			</if>
			<if test="areaCode != null and areaCode != ''" >
				and s.area_code = #{areaCode,jdbcType=VARCHAR}
			</if>
			<if test="gridCode != null and gridCode != ''" >
				and g.grid_code = #{gridCode,jdbcType=VARCHAR}
			</if>
			<if test="areaType != null and areaType != ''" >
				and s.area_type = #{areaType,jdbcType=INTEGER}
			</if>
		</where>
	</sql>
	<select id="queryDistinctCount" parameterType="com.jdl.basic.api.domain.workStation.WorkStationFloorGridQuery" resultType="long">
		select
		count(*)
		from (select distinct
		g.org_code,g.org_name,g.province_agency_code,g.province_agency_name,g.area_hub_code,g.area_hub_name,
	    g.site_code,g.site_name,g.floor,g.grid_no,g.grid_code,g.grid_name,
		s.area_code,s.area_name
		from
		work_station_grid g
		<include refid="joinSql"/>
		<include refid="queryDistinctCondition"/>) A
	</select>


	<select id="queryWorkStationGridBybusinessKeyWithCache" parameterType="String" resultMap="WorkStationGrid">
		select
		<include refid="Base_Column_List_WorkStationGrid"/>
		from
		work_station_grid g
		where
		g.business_key = #{businessKey,jdbcType=VARCHAR}
		order by g.ts desc limit 1

	</select>
    <select id="queryListForWorkGridVo" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
        select
            <include refid="Base_Column_List"/>
        from
            work_station_grid g
        <include refid="joinSql"/>
        where g.yn = 1 
          and g.ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
        limit 100
    </select>
    <select id="querySiteListForManagerScan" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultType="java.lang.Integer">
        select distinct g.site_code
        from
            work_station_grid g
           <include refid="joinSql"/>            
        where g.yn = 1 
          and s.area_code in
        <foreach collection="areaCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach> 
        limit #{offset}, #{limit}
    </select> 
    <select id="queryListForManagerSiteScan" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
        select 
            <include refid="Base_Column_List"/>
        from
            work_station_grid g
           <include refid="joinSql"/>            
        where g.yn = 1 
          and g.site_code = #{siteCode,jdbcType=INTEGER}
          and s.area_code in
        <foreach collection="areaCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach> 
        limit #{offset}, #{limit}
    </select>
	<update id="syncWorkGridInfo" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid">
		update work_station_grid
			set
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateUserName != null" >
				update_user_name = #{updateUserName,jdbcType=VARCHAR},
			</if>
				dock_code = #{dockCode,jdbcType=VARCHAR},
				owner_user_erp = #{ownerUserErp,jdbcType=VARCHAR},			
				update_time = now()
		where yn = 1
		 	and ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
	</update>    
	<!-- 刷数sql start -->
	<select id="brushQueryAllByPage" parameterType="java.lang.Integer" resultMap="WorkStationGrid">
		select
			id,site_code
		from
			work_station_grid
		where yn = 1
		and province_agency_code = ''
		and id > #{id,jdbcType=BIGINT}
		order by id
		limit 100
	</select>
	<update id="brushUpdateById" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"  separator=";">
			UPDATE work_station_grid
			<set>
				<if test="item.provinceAgencyCode != null and item.provinceAgencyCode != ''" >
					province_agency_code = #{item.provinceAgencyCode,jdbcType=VARCHAR},
				</if>
				<if test="item.provinceAgencyName != null and item.provinceAgencyName != ''" >
					province_agency_name = #{item.provinceAgencyName,jdbcType=VARCHAR},
				</if>
				<if test="item.areaHubCode != null and item.areaHubCode != ''" >
					area_hub_code = #{item.areaHubCode,jdbcType=VARCHAR},
				</if>
				<if test="item.areaHubName != null and item.areaHubName != ''" >
					area_hub_name = #{item.areaHubName,jdbcType=VARCHAR},
				</if>
			    update_time = now()
			</set>
			WHERE yn = 1
			AND id = #{item.id}
		</foreach>
	</update>
	<!-- 刷数sql end -->
    <select id="queryDockCodeByFlowDirection" resultType="java.lang.String">
        select
        distinct dock_code
        from work_station_grid
        where yn = 1
		and site_code = #{siteCode,jdbcType=INTEGER}
        and ref_station_key in
        <foreach collection="refWorkKeyList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and ref_work_grid_key in
        <foreach collection="refWorkGridKeyList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
		and dock_code is not null and dock_code!= ''
        limit #{offset}, #{limit}
    </select>
    <select id="queryPhoneByDockCodeForTms" resultMap="WorkStationGrid">
        select
        dock_code,business_key,owner_user_erp
        from work_station_grid
        where yn = 1
		and site_code = #{siteCode,jdbcType=INTEGER}
        and ref_station_key in
        <foreach collection="refWorkKeyList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and ref_work_grid_key in
        <foreach collection="refWorkGridKeyList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and dock_code = #{dockCode,jdbcType=VARCHAR}
        limit #{offset}, #{limit}
    </select>

	<update id="updateStatusByIds" parameterType="com.jdl.basic.api.domain.workStation.UpdateRequest">
		update work_station_grid
		set
		<if test="operateUserCode != null" >
			update_user = #{operateUserCode,jdbcType=VARCHAR},
		</if>
		<if test="operateUserName != null" >
			update_user_name = #{operateUserName,jdbcType=VARCHAR},
		</if>
		<if test="operateTime != null" >
			update_time = #{operateTime,jdbcType=TIMESTAMP},
		</if>
		<if test="deleteFailMessage != null" >
			delete_fail_message = #{deleteFailMessage,jdbcType=VARCHAR},
		</if>
		status = #{targetStatus,jdbcType=INTEGER}
		where yn = 1
		and id in
		<foreach collection="dataList" item="item" open="(" close=")" separator=",">
			#{item.id,jdbcType=BIGINT}
		</foreach>
		<if test="areaCode != null and areaCode != ''" >
			and t.status = #{sourceStatus,jdbcType=INTEGER}
		</if>
	</update>

	<update id="updatePassById" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGrid">
		update work_station_grid
		set
		<if test="updateUser != null" >
			update_user = #{updateUser,jdbcType=VARCHAR},
		</if>
		<if test="updateUserName != null" >
			update_user_name = #{updateUserName,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null" >
			update_time = #{updateTime,jdbcType=TIMESTAMP},
		</if>
		<if test="deleteFailMessage != null" >
			delete_fail_message = #{deleteFailMessage,jdbcType=VARCHAR},
		</if>
		status = 3
		where status = 2
		and id = #{id,jdbcType=BIGINT}
	</update>

	<select id="queryHistoryCount" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultType="long">
		select
		count(1)
		from
		work_station_grid g
		<include refid="historyCondition"/>
	</select>

	<select id="queryHistoryList" parameterType="com.jdl.basic.api.domain.workStation.WorkStationGridQuery" resultMap="WorkStationGrid">
		select
		<include refid="Base_Column_List"/>
		from
		work_station_grid g
		<include refid="historyCondition"/>
		<if test="pageNumber > 0">
			limit #{offset}, #{limit}
		</if>
	</select>

	<sql id="historyCondition">
		left outer join work_station s on g.ref_station_key = s.business_key and s.yn = 0
		<where>
			g.yn = 0 and g.update_time >= DATE_SUB(NOW(), INTERVAL 6 MONTH)
			<if test="orgCode != null" >
				and g.org_code = #{orgCode,jdbcType=INTEGER}
			</if>
			<if test="provinceAgencyCode != null and provinceAgencyCode != ''" >
				and g.province_agency_code = #{provinceAgencyCode,jdbcType=VARCHAR}
			</if>
			<if test="areaHubCode != null and areaHubCode != ''" >
				and g.area_hub_code = #{areaHubCode,jdbcType=VARCHAR}
			</if>
			<if test="siteCode != null" >
				and g.site_code = #{siteCode,jdbcType=INTEGER}
			</if>
			<if test="workCode != null and workCode != ''" >
				and s.work_code = #{workCode,jdbcType=VARCHAR}
			</if>
			<if test="floor != null" >
				and g.floor = #{floor,jdbcType=INTEGER}
			</if>
			<if test="gridNo != null and gridNo != ''" >
				and g.grid_no = #{gridNo,jdbcType=VARCHAR}
			</if>
			<if test="areaCode != null and areaCode != ''" >
				and s.area_code = #{areaCode,jdbcType=VARCHAR}
			</if>
			<if test="dockCode != null and dockCode != ''" >
				and g.dock_code = #{dockCode,jdbcType=VARCHAR}
			</if>
			<if test="supplierCode != null and supplierCode != ''" >
				and g.supplier_code = #{supplierCode,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

</mapper>
