<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdl.basic.provider.core.dao.workStation.WorkGridOwnerUserDao" >

	<resultMap id="WorkGridOwnerUser" type="com.jdl.basic.api.domain.workStation.WorkGridOwnerUser" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="ref_work_grid_key" property="refWorkGridKey" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="site_code" property="siteCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="wave_code" property="waveCode" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="owner_user_erp" property="ownerUserErp" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,ref_work_grid_key,site_code,wave_code,owner_user_erp,create_user,
		update_user,create_time,update_time,yn,ts
	</sql>

	<insert id="insert" parameterType="com.jdl.basic.api.domain.workStation.WorkGridOwnerUser" useGeneratedKeys="true" keyProperty="id">
		insert into work_grid_owner_user
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					id,
				</if>
				<if test="refWorkGridKey != null" >
					ref_work_grid_key,
				</if>
				<if test="siteCode != null" >
					site_code,
				</if>
				<if test="waveCode != null" >
					wave_code,
				</if>
				<if test="ownerUserErp != null" >
					owner_user_erp,
				</if>
				<if test="createUser != null" >
					create_user,
				</if>
				<if test="updateUser != null" >
					update_user,
				</if>
				<if test="createTime != null" >
					create_time,
				</if>
				<if test="updateTime != null" >
					update_time,
				</if>
				<if test="yn != null" >
					yn,
				</if>
				<if test="ts != null" >
					ts,
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					#{id,jdbcType=BIGINT},
				</if>
				<if test="refWorkGridKey != null" >
					#{refWorkGridKey,jdbcType=VARCHAR},
				</if>
				<if test="siteCode != null" >
					#{siteCode,jdbcType=INTEGER},
				</if>
				<if test="waveCode != null" >
					#{waveCode,jdbcType=TINYINT},
				</if>
				<if test="ownerUserErp != null" >
					#{ownerUserErp,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					#{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					#{ts,jdbcType=TIMESTAMP},
				</if>
			</trim>
			)
	</insert>

	<update id="updateById" parameterType="com.jdl.basic.api.domain.workStation.WorkGridOwnerUser">
		update work_grid_owner_user
			<set>
				<if test="refWorkGridKey != null" >
					ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR},
				</if>
				<if test="siteCode != null" >
					site_code = #{siteCode,jdbcType=INTEGER},
				</if>
				<if test="waveCode != null" >
					wave_code = #{waveCode,jdbcType=TINYINT},
				</if>
				<if test="ownerUserErp != null" >
					owner_user_erp = #{ownerUserErp,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null" >
					create_user = #{createUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					update_time = #{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					yn = #{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteByGridKey" parameterType="com.jdl.basic.api.domain.workStation.WorkGridOwnerUser">
		update work_grid_owner_user
			set 
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			   yn = 0
		where yn=1 and ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
	</update>

	<select id="queryById" parameterType="java.lang.Long" resultMap="WorkGridOwnerUser">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_owner_user t
		where yn = 1 and id = #{id,jdbcType=BIGINT}
	</select>

	<select id="queryList" resultMap="WorkGridOwnerUser">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_owner_user t
		<include refid="queryCondition"/>
		limit #{offset}, #{limit}
	</select>

	<select id="queryCount" resultType="long">
		select
			count(1)
		from
			work_grid_owner_user t
		<include refid="queryCondition"/>
	</select>

	<sql id="queryCondition">
		<where>
			yn = 1 
		</where>
	</sql>
	<select id="queryListByGridKey" resultMap="WorkGridOwnerUser">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_owner_user t
		where yn = 1 and ref_work_grid_key = #{refWorkGridKey,jdbcType=VARCHAR}
		limit 10
	</select>	
</mapper>