<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdl.basic.provider.core.dao.work.WorkGridManagerTaskCaseDao" >

	<resultMap id="WorkGridManagerTaskCase" type="com.jdl.basic.api.domain.work.WorkGridManagerTaskCase" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="task_code" property="taskCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="case_code" property="caseCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="order_num" property="orderNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,task_code,case_code,order_num,create_user,create_user_name,
		update_user,update_user_name,create_time,update_time,yn,
		ts
	</sql>

	<insert id="insert" parameterType="com.jdl.basic.api.domain.work.WorkGridManagerTaskCase" useGeneratedKeys="true" keyProperty="id">
		insert into work_grid_manager_task_case
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					id,
				</if>
				<if test="taskCode != null" >
					task_code,
				</if>
				<if test="caseCode != null" >
					case_code,
				</if>
				<if test="orderNum != null" >
					order_num,
				</if>
				<if test="createUser != null" >
					create_user,
				</if>
				<if test="createUserName != null" >
					create_user_name,
				</if>
				<if test="updateUser != null" >
					update_user,
				</if>
				<if test="updateUserName != null" >
					update_user_name,
				</if>
				<if test="createTime != null" >
					create_time,
				</if>
				<if test="updateTime != null" >
					update_time,
				</if>
				<if test="yn != null" >
					yn,
				</if>
				<if test="ts != null" >
					ts,
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					#{id,jdbcType=BIGINT},
				</if>
				<if test="taskCode != null" >
					#{taskCode,jdbcType=VARCHAR},
				</if>
				<if test="caseCode != null" >
					#{caseCode,jdbcType=VARCHAR},
				</if>
				<if test="orderNum != null" >
					#{orderNum,jdbcType=INTEGER},
				</if>
				<if test="createUser != null" >
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					#{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					#{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					#{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					#{ts,jdbcType=TIMESTAMP},
				</if>
			</trim>
			)
	</insert>

	<update id="updateById" parameterType="com.jdl.basic.api.domain.work.WorkGridManagerTaskCase">
		update work_grid_manager_task_case
			<set>
				<if test="taskCode != null" >
					task_code = #{taskCode,jdbcType=VARCHAR},
				</if>
				<if test="caseCode != null" >
					case_code = #{caseCode,jdbcType=VARCHAR},
				</if>
				<if test="orderNum != null" >
					order_num = #{orderNum,jdbcType=INTEGER},
				</if>
				<if test="createUser != null" >
					create_user = #{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					create_user_name = #{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					update_user_name = #{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					update_time = #{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					yn = #{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="com.jdl.basic.api.domain.work.WorkGridManagerTaskCase">
		update work_grid_manager_task_case
			set 
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			   yn = 0
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="queryById" parameterType="java.lang.Long" resultMap="WorkGridManagerTaskCase">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_manager_task_case t
		where yn = 1 and id = #{id,jdbcType=BIGINT}
	</select>
    <select id="queryCaseCodeListByTaskCode" parameterType="java.lang.String" resultType="java.lang.String">
        select
            case_code
        from
            work_grid_manager_task_case t
        where yn = 1 
          and task_code = #{taskCode,jdbcType=VARCHAR}
          order by order_num
    </select>	
	<select id="queryList" resultMap="WorkGridManagerTaskCase">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_manager_task_case t
		<include refid="queryCondition"/>
		limit #{offset}, #{limit}
	</select>

	<select id="queryCount" resultType="long">
		select
			count(1)
		from
			work_grid_manager_task_case t
		<include refid="queryCondition"/>
	</select>

	<sql id="queryCondition">
		<where>
			yn = 1 
		</where>
	</sql>
</mapper>