<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdl.basic.provider.core.dao.work.WorkGridManagerCaseDao" >

	<resultMap id="WorkGridManagerCase" type="com.jdl.basic.api.domain.work.WorkGridManagerCase" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="case_code" property="caseCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="case_name" property="caseName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="case_title" property="caseTitle" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="case_content" property="caseContent" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="check_result" property="checkResult" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="need_upload_photo" property="needUploadPhoto" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="create_user" property="createUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" javaType="java.lang.Integer" jdbcType="TINYINT" />
		<result column="ts" property="ts" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,case_code,case_name,case_title,case_content,check_result,
		need_upload_photo,create_user,create_user_name,update_user,update_user_name,
		create_time,update_time,yn,ts
	</sql>

	<insert id="insert" parameterType="com.jdl.basic.api.domain.work.WorkGridManagerCase" useGeneratedKeys="true" keyProperty="id">
		insert into work_grid_manager_case
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					id,
				</if>
				<if test="caseCode != null" >
					case_code,
				</if>
				<if test="caseName != null" >
					case_name,
				</if>
				<if test="caseTitle != null" >
					case_title,
				</if>
				<if test="caseContent != null" >
					case_content,
				</if>
				<if test="checkResult != null" >
					check_result,
				</if>
				<if test="needUploadPhoto != null" >
					need_upload_photo,
				</if>
				<if test="createUser != null" >
					create_user,
				</if>
				<if test="createUserName != null" >
					create_user_name,
				</if>
				<if test="updateUser != null" >
					update_user,
				</if>
				<if test="updateUserName != null" >
					update_user_name,
				</if>
				<if test="createTime != null" >
					create_time,
				</if>
				<if test="updateTime != null" >
					update_time,
				</if>
				<if test="yn != null" >
					yn,
				</if>
				<if test="ts != null" >
					ts,
				</if>
			</trim>
			)
			values
			(
			<trim suffixOverrides=",">
				<if test="id != null" >
					#{id,jdbcType=BIGINT},
				</if>
				<if test="caseCode != null" >
					#{caseCode,jdbcType=VARCHAR},
				</if>
				<if test="caseName != null" >
					#{caseName,jdbcType=VARCHAR},
				</if>
				<if test="caseTitle != null" >
					#{caseTitle,jdbcType=VARCHAR},
				</if>
				<if test="caseContent != null" >
					#{caseContent,jdbcType=VARCHAR},
				</if>
				<if test="checkResult != null" >
					#{checkResult,jdbcType=TINYINT},
				</if>
				<if test="needUploadPhoto != null" >
					#{needUploadPhoto,jdbcType=TINYINT},
				</if>
				<if test="createUser != null" >
					#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					#{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					#{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					#{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					#{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					#{ts,jdbcType=TIMESTAMP},
				</if>
			</trim>
			)
	</insert>

	<update id="updateById" parameterType="com.jdl.basic.api.domain.work.WorkGridManagerCase">
		update work_grid_manager_case
			<set>
				<if test="caseCode != null" >
					case_code = #{caseCode,jdbcType=VARCHAR},
				</if>
				<if test="caseName != null" >
					case_name = #{caseName,jdbcType=VARCHAR},
				</if>
				<if test="caseTitle != null" >
					case_title = #{caseTitle,jdbcType=VARCHAR},
				</if>
				<if test="caseContent != null" >
					case_content = #{caseContent,jdbcType=VARCHAR},
				</if>
				<if test="checkResult != null" >
					check_result = #{checkResult,jdbcType=TINYINT},
				</if>
				<if test="needUploadPhoto != null" >
					need_upload_photo = #{needUploadPhoto,jdbcType=TINYINT},
				</if>
				<if test="createUser != null" >
					create_user = #{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createUserName != null" >
					create_user_name = #{createUserName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null" >
					update_user = #{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateUserName != null" >
					update_user_name = #{updateUserName,jdbcType=VARCHAR},
				</if>
				<if test="createTime != null" >
					create_time = #{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateTime != null" >
					update_time = #{updateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="yn != null" >
					yn = #{yn,jdbcType=TINYINT},
				</if>
				<if test="ts != null" >
					ts = #{ts,jdbcType=TIMESTAMP},
				</if>
			</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="deleteById" parameterType="com.jdl.basic.api.domain.work.WorkGridManagerCase">
		update work_grid_manager_case
			set 
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			   yn = 0
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="queryById" parameterType="java.lang.Long" resultMap="WorkGridManagerCase">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_manager_case t
		where yn = 1 and id = #{id,jdbcType=BIGINT}
	</select>
    <select id="queryCaseListByCaseCodeList" parameterType="java.util.List" resultMap="WorkGridManagerCase">
        select
            <include refid="Base_Column_List"/>
        from
            work_grid_manager_case t
        where yn = 1 
          and case_code in 
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
	<select id="queryList" resultMap="WorkGridManagerCase">
		select
			<include refid="Base_Column_List"/>
		from
			work_grid_manager_case t
		<include refid="queryCondition"/>
		limit #{offset}, #{limit}
	</select>

	<select id="queryCount" resultType="long">
		select
			count(1)
		from
			work_grid_manager_case t
		<include refid="queryCondition"/>
	</select>

	<sql id="queryCondition">
		<where>
			yn = 1 
		</where>
	</sql>
</mapper>