<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.user.JyUserDao">
  <resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.user.JyUser">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="user_erp" jdbcType="VARCHAR" property="userErp"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="sex" jdbcType="VARCHAR" property="sex"/>
    <result column="entry_date" jdbcType="VARCHAR" property="entryDate"/>
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode"/>
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    <result column="organization_full_name" jdbcType="VARCHAR" property="organizationFullName"/>
    <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
    <result column="quit_action_date" jdbcType="VARCHAR" property="quitActionDate"/>
    <result column="nature" jdbcType="VARCHAR" property="nature"/>
    <result column="nature_desc" jdbcType="VARCHAR" property="natureDesc"/>
    <result column="position_code" jdbcType="VARCHAR" property="positionCode"/>
    <result column="position_name" jdbcType="VARCHAR" property="positionName"/>
    <result column="grid_distribute_flag" jdbcType="BIT" property="gridDistributeFlag"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    <result column="site_code" jdbcType="INTEGER" property="siteCode"/>
    <result column="site_name" jdbcType="VARCHAR" property="siteName"/>
    <result column="site_type" jdbcType="TINYINT" property="siteType"/>

  </resultMap>
  <sql id="Base_Column_List">
    id, user_erp, user_name, sex, entry_date, organization_code, organization_name, organization_full_name,
    user_status, quit_action_date, nature, nature_desc, position_code, position_name,
    grid_distribute_flag, create_time, update_time, ts,site_code,site_name,site_type
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jy_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryUserInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jy_user
    where user_erp =#{userErp} and entry_date =#{entryDate} and nature =#{nature}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from jy_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jdl.basic.api.domain.user.JyUser">
    insert into jy_user (id, user_erp, user_name,
      sex, entry_date, organization_code,
      organization_name, organization_full_name,
      user_status, quit_action_date, nature,
      nature_desc, position_code, position_name,
      grid_distribute_flag, create_time, update_time,
      ts)
    values (#{id,jdbcType=BIGINT}, #{userErp,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{sex,jdbcType=VARCHAR}, #{entryDate,jdbcType=VARCHAR}, #{organizationCode,jdbcType=VARCHAR},
      #{organizationName,jdbcType=VARCHAR}, #{organizationFullName,jdbcType=VARCHAR},
      #{userStatus,jdbcType=INTEGER}, #{quitActionDate,jdbcType=VARCHAR}, #{nature,jdbcType=VARCHAR},
      #{natureDesc,jdbcType=VARCHAR}, #{positionCode,jdbcType=VARCHAR}, #{positionName,jdbcType=VARCHAR},
      #{gridDistributeFlag,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jdl.basic.api.domain.user.JyUser">
    insert into jy_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userErp != null">
        user_erp,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="entryDate != null">
        entry_date,
      </if>
      <if test="organizationCode != null">
        organization_code,
      </if>
      <if test="organizationName != null">
        organization_name,
      </if>
      <if test="organizationFullName != null">
        organization_full_name,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="quitActionDate != null">
        quit_action_date,
      </if>
      <if test="nature != null">
        nature,
      </if>
      <if test="natureDesc != null">
        nature_desc,
      </if>
      <if test="positionCode != null">
        position_code,
      </if>
      <if test="positionName != null">
        position_name,
      </if>
      <if test="gridDistributeFlag != null">
        grid_distribute_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="siteCode != null">
        site_code,
      </if>
      <if test="siteName != null">
        site_name,
      </if>
      <if test="siteType != null">
        site_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userErp != null">
        #{userErp,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null">
        #{entryDate,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null">
        #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationFullName != null">
        #{organizationFullName,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="quitActionDate != null">
        #{quitActionDate,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        #{nature,jdbcType=VARCHAR},
      </if>
      <if test="natureDesc != null">
        #{natureDesc,jdbcType=VARCHAR},
      </if>
      <if test="positionCode != null">
        #{positionCode,jdbcType=VARCHAR},
      </if>
      <if test="positionName != null">
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="gridDistributeFlag != null">
        #{gridDistributeFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="siteCode != null">
        #{siteCode},
      </if>
      <if test="siteName != null">
        #{siteName},
      </if>
      <if test="siteType != null">
        #{siteType},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdl.basic.api.domain.user.JyUser">
    update jy_user
    <set>
      <if test="userErp != null">
        user_erp = #{userErp,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null">
        entry_date = #{entryDate,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null">
        organization_code = #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null">
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationFullName != null">
        organization_full_name = #{organizationFullName,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="quitActionDate != null">
        quit_action_date = #{quitActionDate,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        nature = #{nature,jdbcType=VARCHAR},
      </if>
      <if test="natureDesc != null">
        nature_desc = #{natureDesc,jdbcType=VARCHAR},
      </if>
      <if test="positionCode != null">
        position_code = #{positionCode,jdbcType=VARCHAR},
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="gridDistributeFlag != null">
        grid_distribute_flag = #{gridDistributeFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="siteCode != null">
        site_code =#{siteCode},
      </if>
      <if test="siteName != null">
        site_name=#{siteName},
      </if>
      <if test="siteType != null">
        site_type =#{siteType},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdl.basic.api.domain.user.JyUser">
    update jy_user
    set user_erp = #{userErp,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      entry_date = #{entryDate,jdbcType=VARCHAR},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      organization_full_name = #{organizationFullName,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      quit_action_date = #{quitActionDate,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=VARCHAR},
      nature_desc = #{natureDesc,jdbcType=VARCHAR},
      position_code = #{positionCode,jdbcType=VARCHAR},
      position_name = #{positionName,jdbcType=VARCHAR},
      grid_distribute_flag = #{gridDistributeFlag,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="searchUserBySiteCode" parameterType="com.jdl.basic.api.domain.user.JyUserQueryCondition" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        jy_user
    where
        user_status = 1
    and
        site_code = #{siteCode, jdbcType=INTEGER}
  </select>

  <select id="queryByUserIds" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        jy_user
    where
      id in
      <foreach collection="users" item="item" separator="," open="(" close=")">
        #{item.id}
      </foreach>
  </select>

  <update id="batchUpdateByUserIds">
    update
        jy_user
    set
      grid_distribute_flag = #{gridDistributeFlag}
    where
      id in
        <foreach collection="users" item="item" separator="," open="(" close=")">
          #{item.id}
        </foreach>
  </update>

  <select id="queryUndistributedCountBySiteCode" resultType="java.lang.Integer">
    select
        count(*)
    from
        jy_user
    where
        user_status = 1
    and
        site_code = #{siteCode, jdbcType=INTEGER}
    and
        grid_distribute_flag = 0
  </select>

  <select id="queryDifference" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        jy_user
    where
    (
        entry_date <![CDATA[ >= ]]> #{entryDate,jdbcType=VARCHAR}
    or
        quit_action_date <![CDATA[ >= ]]> #{quitActionDate,jdbcType=VARCHAR}
    )
    and
        site_code = #{siteCode, jdbcType=INTEGER}
  </select>

  <select id="batchQueryQuitUserByUserId" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        jy_user
    where
        user_status = 2
    and id in
    <foreach collection="users" item="item" separator="," open="(" close=")">
        #{item.id}
    </foreach>
  </select>

  <select id="queryUnDistributedUserList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    jy_user
    WHERE user_status =1
    <if test="siteCode!=null">
      and site_code = #{siteCode}
    </if>
    and grid_distribute_flag =0
    limit #{pageSize}
  </select>
  <select id="queryUserListBySiteAndPosition" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    jy_user
    WHERE user_status =1
      and site_code = #{siteCode}
      and position_code = #{positionCode,jdbcType=VARCHAR}
    limit 200
  </select>    
</mapper>
