<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.user.UserWorkGridDao">
  <resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.user.UserWorkGrid">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="work_grid_key" jdbcType="VARCHAR" property="workGridKey" />
    <result column="nature" jdbcType="VARCHAR" property="nature" />
    <result column="yn" jdbcType="TINYINT" property="yn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_erp" jdbcType="VARCHAR" property="createUserErp" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_user_erp" jdbcType="VARCHAR" property="updateUserErp" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, work_grid_key, nature, yn, create_time, update_time, create_user_erp,
    create_user_name, update_user_erp, update_user_name, ts
  </sql>

    <sql id="queryCondition">
        <if test="userId != null">
            and user_id = #{userId,jdbcType=BIGINT}
        </if>
        <if test="workGridKey != null and workGridKey != ''">
            and work_grid_key = #{workGridKey,jdbcType=VARCHAR}
        </if>
        <if test="nature != null">
            and nature = #{nature,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createUserErp != null and createUserErp != ''">
            and create_user_erp = #{createUserErp,jdbcType=VARCHAR}
        </if>
        <if test="createUserName != null and createUserName != ''">
            and create_user_name = #{createUserName,jdbcType=VARCHAR}
        </if>
        <if test="updateUserErp != null and updateUserErp != ''">
            and update_user_erp = #{updateUserErp,jdbcType=VARCHAR}
        </if>
        <if test="updateUserName != null and updateUserName != ''">
            and update_user_name = #{updateUserName,jdbcType=VARCHAR}
        </if>
    </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_work_grid
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="queryRecordDetail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        user_work_grid
    where
        yn = 1
      <if test="workGridKey != null and workGridKey != ''">
        and work_grid_key = #{workGridKey,jdbcType=VARCHAR}
      </if>
  </select>
  
  <select id="queryDifference" parameterType="com.jdl.basic.api.domain.user.UserWorkGridRequest" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        user_work_grid
    where
    (
        create_time <![CDATA[ >= ]]> #{createTime,jdbcType=TIMESTAMP}
    or
        update_time <![CDATA[ >= ]]> #{updateTime,jdbcType=TIMESTAMP}
    )
    and
        work_grid_key = #{workGridKey,jdbcType=VARCHAR}
  </select>
  
  <insert id="batchInsert" parameterType="com.jdl.basic.api.domain.user.UserWorkGrid">
    insert into user_work_grid
        (
            user_id,
            work_grid_key,
            nature,
            create_time,
            create_user_erp,
            create_user_name,
            update_time,
            update_user_erp,
            update_user_name
        )
    values
    <foreach collection="userWorkGrids" item="item" separator=",">
        (
            #{item.userId, jdbcType=BIGINT},
            #{item.workGridKey, jdbcType=VARCHAR},
            #{item.nature, jdbcType=VARCHAR},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.createUserErp, jdbcType=VARCHAR},
            #{item.createUserName, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.updateUserErp, jdbcType=VARCHAR},
            #{item.updateUserName, jdbcType=VARCHAR}
        )
    </foreach>
  </insert>

  <update id="batchDelete">
    update
        user_work_grid
    set
        yn = 0,
        update_time = #{updateTime, jdbcType=TIMESTAMP},
        update_user_erp = #{updateUserErp, jdbcType=VARCHAR},
        update_user_name = #{updateUserName, jdbcType=VARCHAR}
    where
        yn = 1
      <if test="workGridKey != null and workGridKey != ''">
        and work_grid_key = #{workGridKey, jdbcType=VARCHAR}
      </if>
        and user_id in
        <foreach collection="userWorkGrids" item="item" separator="," open="(" close=")">
        #{item.userId}
        </foreach>
  </update>

  <select id="queryByUserIdsWithCondition" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        user_work_grid
    where
        yn = 1
    and user_id in
        <foreach collection="userWorkGrids" item="item" separator="," open="(" close=")">
            #{item.userId}
        </foreach>
    <include refid="queryCondition"/>
  </select>

    <select id="queryByCondition" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            user_work_grid
        where
            yn = 1
        <include refid="queryCondition"/>
    </select>
</mapper>