<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tdeClient" class="com.jd.security.tde.spring.TdeClientFactoryBean">
        <property name="token" value="${aces.token}"/>
        <property name="rPath" value="${aces.rPath}"/>
        <property name="isProd" value="${aces.isProd}"/>
        <property name="enableGM" value="${aces.enableGM}"/>
    </bean>
</beans>