<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.dbs.ObjectIdDao">
    <resultMap id="BaseResultMap" type="com.jdl.basic.provider.core.po.ObjectId">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="objectName" jdbcType="VARCHAR" property="objectName" />
        <result column="FIRSTID" jdbcType="INTEGER" property="firstId" />
    </resultMap>

    <update id="updateFirstIdByName" parameterType="java.util.Map">
        UPDATE
        dbs_objectid
        SET firstId = firstId + #{count, jdbcType=INTEGER}
        WHERE objectName = #{objectName,jdbcType=VARCHAR}
    </update>

    <insert id="insertObjectId" parameterType="java.util.Map">
        INSERT INTO dbs_objectid(objectName,firstId)
        VALUES (#{objectName,jdbcType=VARCHAR},#{firstId,jdbcType=INTEGER})
    </insert>

    <select id="selectFirstIdByName" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT firstId FROM dbs_objectid WHERE objectName=#{objectName,jdbcType=VARCHAR}
    </select>
    <update id="updateFirstIdByNameAndCurrId" parameterType="java.util.Map">
        UPDATE
        	dbs_objectid
       	SET firstId = firstId + #{count, jdbcType=INTEGER}
        	WHERE objectName = #{objectName,jdbcType=VARCHAR}
        	AND firstId = #{currId, jdbcType=INTEGER}
    </update>
</mapper>