<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
       default-autowire="byName">

        <aop:config proxy-target-class="true" />
        <!--
        <bean id="umpInterceptor" class="com.jd.component.terminal.ump.UMPInterceptor">
        	<property name="keyPrefix" value="${ump.key.prefix}"/>
            <property name="applicationName" value="${ump.application.name}"/>
        </bean>
        <aop:config>
            <aop:advisor pointcut="execution(* com.jdl.express.hub.remote.order.*.*(..))" advice-ref="umpInterceptor"/>
        </aop:config>
        -->
</beans>