<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.basic.provider.core.dao.cross.SortCrossDetailDao">
  <resultMap id="BaseResultMap" type="com.jdl.basic.api.domain.cross.SortCrossDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TABLETROLLEY_CODE" jdbcType="VARCHAR" property="tabletrolleyCode" />
    <result column="CROSS_CODE" jdbcType="VARCHAR" property="crossCode" />
    <result column="SITE_CODE" jdbcType="VARCHAR" property="siteCode" />
    <result column="SITE_NAME" jdbcType="VARCHAR" property="siteName" />
    <result column="SITE_TYPE" jdbcType="INTEGER" property="siteType" />
    <result column="SUB_TYPE" jdbcType="INTEGER" property="subType" />
    <result column="THIRD_TYPE" jdbcType="INTEGER" property="thirdType" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATOR_ACCOUNT" jdbcType="VARCHAR" property="creatorAccount" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="MODIFIER_ACCOUNT" jdbcType="VARCHAR" property="modifierAccount" />
    <result column="DMS_ID" jdbcType="INTEGER" property="dmsId" />
    <result column="ORG_ID" jdbcType="INTEGER" property="orgId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="YN" jdbcType="TINYINT" property="yn" />
    <result column="TS" jdbcType="TIMESTAMP" property="ts" />
    <result column="BELONG_CODE" jdbcType="INTEGER" property="belongCode" />
    <result column="BELONG_NAME" jdbcType="VARCHAR" property="belongName" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
  </resultMap>
  <resultMap id="tableTrolleyDto" type="com.jdl.basic.api.domain.cross.TableTrolleyJsfDto">
    <result column="SITE_CODE" jdbcType="VARCHAR" property="endSiteId" />
    <result column="SITE_NAME" jdbcType="VARCHAR" property="endSiteName" />
    <result column="CROSS_CODE" jdbcType="VARCHAR" property="crossCode" />
    <result column="TABLETROLLEY_CODE" jdbcType="VARCHAR" property="tableTrolleyCode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TABLETROLLEY_CODE, CROSS_CODE, SITE_CODE, SITE_NAME, SITE_TYPE, SUB_TYPE, THIRD_TYPE, 
    CREATOR, CREATOR_ACCOUNT, MODIFIER, MODIFIER_ACCOUNT, DMS_ID, ORG_ID, CREATE_TIME, 
    UPDATE_TIME, YN, TS, BELONG_CODE, BELONG_NAME, ENABLE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sort_cross_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sort_cross_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jdl.basic.api.domain.cross.SortCrossDetail">
    insert into sort_cross_detail (ID, TABLETROLLEY_CODE, CROSS_CODE, 
      SITE_CODE, SITE_NAME, SITE_TYPE, 
      SUB_TYPE, THIRD_TYPE, CREATOR, 
      CREATOR_ACCOUNT, MODIFIER, MODIFIER_ACCOUNT, 
      DMS_ID, ORG_ID, CREATE_TIME, 
      UPDATE_TIME, YN, TS, 
      BELONG_CODE, BELONG_NAME)
    values (#{id,jdbcType=BIGINT}, #{tabletrolleyCode,jdbcType=VARCHAR}, #{crossCode,jdbcType=VARCHAR}, 
      #{siteCode,jdbcType=VARCHAR}, #{siteName,jdbcType=VARCHAR}, #{siteType,jdbcType=INTEGER}, 
      #{subType,jdbcType=INTEGER}, #{thirdType,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{creatorAccount,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{modifierAccount,jdbcType=VARCHAR}, 
      #{dmsId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=TINYINT}, #{ts,jdbcType=TIMESTAMP}, 
      #{belongCode,jdbcType=INTEGER}, #{belongName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jdl.basic.api.domain.cross.SortCrossDetail">
    insert into sort_cross_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="tabletrolleyCode != null">
        TABLETROLLEY_CODE,
      </if>
      <if test="crossCode != null">
        CROSS_CODE,
      </if>
      <if test="siteCode != null">
        SITE_CODE,
      </if>
      <if test="siteName != null">
        SITE_NAME,
      </if>
      <if test="siteType != null">
        SITE_TYPE,
      </if>
      <if test="subType != null">
        SUB_TYPE,
      </if>
      <if test="thirdType != null">
        THIRD_TYPE,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creatorAccount != null">
        CREATOR_ACCOUNT,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modifierAccount != null">
        MODIFIER_ACCOUNT,
      </if>
      <if test="dmsId != null">
        DMS_ID,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="yn != null">
        YN,
      </if>
      <if test="ts != null">
        TS,
      </if>
      <if test="belongCode != null">
        BELONG_CODE,
      </if>
      <if test="belongName != null">
        BELONG_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tabletrolleyCode != null">
        #{tabletrolleyCode,jdbcType=VARCHAR},
      </if>
      <if test="crossCode != null">
        #{crossCode,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        #{siteType,jdbcType=INTEGER},
      </if>
      <if test="subType != null">
        #{subType,jdbcType=INTEGER},
      </if>
      <if test="thirdType != null">
        #{thirdType,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierAccount != null">
        #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="dmsId != null">
        #{dmsId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=TINYINT},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="belongCode != null">
        #{belongCode,jdbcType=INTEGER},
      </if>
      <if test="belongName != null">
        #{belongName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdl.basic.api.domain.cross.SortCrossDetail">
    update sort_cross_detail
    <set>
      <if test="tabletrolleyCode != null">
        TABLETROLLEY_CODE = #{tabletrolleyCode,jdbcType=VARCHAR},
      </if>
      <if test="crossCode != null">
        CROSS_CODE = #{crossCode,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        SITE_CODE = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        SITE_NAME = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        SITE_TYPE = #{siteType,jdbcType=INTEGER},
      </if>
      <if test="subType != null">
        SUB_TYPE = #{subType,jdbcType=INTEGER},
      </if>
      <if test="thirdType != null">
        THIRD_TYPE = #{thirdType,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorAccount != null">
        CREATOR_ACCOUNT = #{creatorAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierAccount != null">
        MODIFIER_ACCOUNT = #{modifierAccount,jdbcType=VARCHAR},
      </if>
      <if test="dmsId != null">
        DMS_ID = #{dmsId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        YN = #{yn,jdbcType=TINYINT},
      </if>
      <if test="ts != null">
        TS = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="belongCode != null">
        BELONG_CODE = #{belongCode,jdbcType=INTEGER},
      </if>
      <if test="belongName != null">
        BELONG_NAME = #{belongName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdl.basic.api.domain.cross.SortCrossDetail">
    update sort_cross_detail
    set TABLETROLLEY_CODE = #{tabletrolleyCode,jdbcType=VARCHAR},
      CROSS_CODE = #{crossCode,jdbcType=VARCHAR},
      SITE_CODE = #{siteCode,jdbcType=VARCHAR},
      SITE_NAME = #{siteName,jdbcType=VARCHAR},
      SITE_TYPE = #{siteType,jdbcType=INTEGER},
      SUB_TYPE = #{subType,jdbcType=INTEGER},
      THIRD_TYPE = #{thirdType,jdbcType=INTEGER},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATOR_ACCOUNT = #{creatorAccount,jdbcType=VARCHAR},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFIER_ACCOUNT = #{modifierAccount,jdbcType=VARCHAR},
      DMS_ID = #{dmsId,jdbcType=INTEGER},
      ORG_ID = #{orgId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      YN = #{yn,jdbcType=TINYINT},
      TS = #{ts,jdbcType=TIMESTAMP},
      BELONG_CODE = #{belongCode,jdbcType=INTEGER},
      BELONG_NAME = #{belongName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryPage" parameterType="com.jdl.basic.api.domain.cross.SortCrossQuery" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sort_cross_detail
    <include refid="queryCondition"/>
    <if test="pageNumber > 0">
      limit #{offset}, #{limit}
    </if>
  </select>
  <select id="queryCount" parameterType="com.jdl.basic.api.domain.cross.SortCrossQuery" resultType="java.lang.Long">
    select count(*) from sort_cross_detail
    <include refid="queryCondition"/>
  </select>
  <sql id="queryCondition">
    where yn = 1
    <if test="dmsId != null and dmsId != ''" >
      and dms_id = #{dmsId,jdbcType=INTEGER}
    </if>
    <if test="orgId != null and orgId != ''" >
      and org_id = #{orgId,jdbcType=INTEGER}
    </if>
    <if test="siteType != null and siteType != ''" >
      and site_type = #{siteType,jdbcType=INTEGER}
    </if>
    <if test="subType != null and subType != ''" >
      and sub_type = #{subType,jdbcType=INTEGER}
    </if>
    <if test="thirdType != null and thirdType != ''" >
      and third_type = #{thirdType,jdbcType=INTEGER}
    </if>
    <if test="tabletrolleyCode != null and tabletrolleyCode != ''" >
      and tabletrolley_code = #{tabletrolleyCode,jdbcType=VARCHAR}
    </if>
    <if test="crossCode != null and crossCode != ''" >
      and cross_code = #{crossCode,jdbcType=VARCHAR}
    </if>
    <if test="siteCode != null and siteCode != ''" >
      and site_code = #{siteCode,jdbcType=VARCHAR}
    </if>
  </sql>
  <update id="updateEnableByIds" parameterType="com.jdl.basic.api.domain.cross.SortCrossUpdateRequest">
    update sort_cross_detail 
    set enable = #{enable, jdbcType=INTEGER}
    where id in
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
      #{item,jdbcType=BIGINT}
    </foreach>
  </update>
  <select id="queryNotInit" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, site_code from sort_cross_detail where site_type = 0 limit #{queryLimit,jdbcType=INTEGER}
  </select>
  <update id="updateById" parameterType="com.jdl.basic.api.domain.cross.SortCrossDetail">
    update sort_cross_detail
    <set>
      <if test="siteType != null and siteType != ''" >
        site_type = #{siteType,jdbcType=INTEGER},
      </if>
      <if test="subType != null and subType != ''" >
        sub_type = #{subType,jdbcType=INTEGER},
      </if>
      <if test="thirdType != null and thirdType != ''" >
        third_type = #{thirdType,jdbcType=INTEGER},
      </if>
      <if test="belongCode != null and belongCode != ''" >
        belong_code = #{belongCode,jdbcType=INTEGER},
      </if>
      <if test="belongName != null and belongName != ''" >
        belong_name = #{belongName,jdbcType=VARCHAR},
      </if>
    </set>
        where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryCrossDataByDmsCode" parameterType="com.jdl.basic.api.domain.cross.CrossPageQuery"
          resultType="java.lang.String">
    select distinct cross_code
    from sort_cross_detail
    where dms_id = #{dmsId,jdbcType=INTEGER}
      and yn = 1 limit #{offset}
        , #{limit}
  </select>
  <select id="queryCrossDataCount" parameterType="com.jdl.basic.api.domain.cross.CrossPageQuery"
          resultType="java.lang.Long">
    select count(distinct cross_code) as count
    from sort_cross_detail
    where dms_id = #{dmsId,jdbcType=INTEGER} and yn = 1
  </select>
  <select id="queryTableTrolleyCount" parameterType="com.jdl.basic.api.domain.cross.TableTrolleyQuery"
          resultType="java.lang.Long">
    select count(1) as count
    from sort_cross_detail
    where dms_id = #{dmsId,jdbcType=INTEGER}
    and yn = 1
    <if test="crossCode != null and crossCode != ''">
      and cross_code = #{crossCode,jdbcType=VARCHAR}
    </if>
    and enable = 1
  </select>
  <select id="queryTableTrolleyList" parameterType="com.jdl.basic.api.domain.cross.TableTrolleyQuery"
          resultMap="tableTrolleyDto">
    select TABLETROLLEY_CODE, CROSS_CODE, SITE_CODE, SITE_NAME
    from sort_cross_detail
    where dms_id = #{dmsId,jdbcType=INTEGER}
    and yn = 1
    <if test="crossCode != null and crossCode != ''">
      and cross_code = #{crossCode,jdbcType=VARCHAR}
    </if>
    and enable = 1
    limit #{offset}
    , #{limit}
  </select>
</mapper>
