<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdl.basic.provider.core.dao.transferDp.ConfigTransferDpSiteDao">
    <!-- table映射实体对象 -->
    <resultMap id="RM_ConfigTransferDpSite" type="com.jdl.basic.api.domain.transferDp.ConfigTransferDpSite">
        <result property="id" column="id"/>
        <result property="handoverOrgId" column="handover_org_id"/>
        <result property="handoverOrgName" column="handover_org_name"/>
        <result property="handoverSiteCode" column="handover_site_code"/>
        <result property="handoverSiteName" column="handover_site_name"/>
        <result property="preSortSiteCode" column="pre_sort_site_code"/>
        <result property="preSortSiteName" column="pre_sort_site_name"/>
        <result property="configStatus" column="config_status"/>
        <result property="effectiveStartTime" column="effective_start_time"/>
        <result property="effectiveStopTime" column="effective_stop_time"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="yn" column="yn"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        `id`, `handover_org_id`, `handover_org_name`, `handover_site_code`, `handover_site_name`, `pre_sort_site_code`, `pre_sort_site_name`, `config_status`, `effective_start_time`, `effective_stop_time`, `create_user`, `create_user_name`, `update_user`, `update_user_name`, `create_time`, `update_time`, `yn`, `ts`
    </sql>

    <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.jdl.basic.api.domain.transferDp.ConfigTransferDpSite">
        insert into `config_transfer_dp_site`(
            id,
            handover_org_id,
            handover_org_name,
            handover_site_code,
            handover_site_name,
            pre_sort_site_code,
            pre_sort_site_name,
            config_status,
            effective_start_time,
            effective_stop_time,
            create_user,
            create_user_name,
            update_user,
            update_user_name,
            create_time,
            update_time,
            yn
        ) values (
             #{id},
             #{handoverOrgId},
             #{handoverOrgName},
             #{handoverSiteCode},
             #{handoverSiteName},
             #{preSortSiteCode},
             #{preSortSiteName},
             #{configStatus},
             #{effectiveStartTime},
             #{effectiveStopTime},
             #{createUser},
             #{createUserName},
             #{updateUser},
             #{updateUserName},
             #{createTime},
             #{updateTime},
             #{yn}
        )
    </insert>

    <!-- 增加 -->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.jdl.basic.api.domain.transferDp.ConfigTransferDpSite">
        insert into `config_transfer_dp_site`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="handoverOrgId != null">
                handover_org_id,
            </if>
            <if test="handoverOrgName != null and handoverOrgName != ''">
                handover_org_name,
            </if>
            <if test="handoverSiteCode != null">
                handover_site_code,
            </if>
            <if test="handoverSiteName != null and handoverSiteName != ''">
                handover_site_name,
            </if>
            <if test="preSortSiteCode != null">
                pre_sort_site_code,
            </if>
            <if test="preSortSiteName != null and preSortSiteName != ''">
                pre_sort_site_name,
            </if>
            <if test="configStatus != null">
                config_status,
            </if>
            <if test="effectiveStartTime != null">
                effective_start_time,
            </if>
            <if test="effectiveStopTime != null">
                effective_stop_time,
            </if>
            <if test="createUser != null and createUser != ''">
                create_user,
            </if>
            <if test="createUserName != null and createUserName != ''">
                create_user_name,
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user,
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                update_user_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="yn != null">
                yn,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="handoverOrgId != null">
                #{handoverOrgId},
            </if>
            <if test="handoverOrgName != null and handoverOrgName != ''">
                #{handoverOrgName},
            </if>
            <if test="handoverSiteCode != null">
                #{handoverSiteCode},
            </if>
            <if test="handoverSiteName != null and handoverSiteName != ''">
                #{handoverSiteName},
            </if>
            <if test="preSortSiteCode != null">
                #{preSortSiteCode},
            </if>
            <if test="preSortSiteName != null and preSortSiteName != ''">
                #{preSortSiteName},
            </if>
            <if test="configStatus != null">
                #{configStatus},
            </if>
            <if test="effectiveStartTime != null">
                #{effectiveStartTime},
            </if>
            <if test="effectiveStopTime != null">
                #{effectiveStopTime},
            </if>
            <if test="createUser != null and createUser != ''">
                #{createUser},
            </if>
            <if test="createUserName != null and createUserName != ''">
                #{createUserName},
            </if>
            <if test="updateUser != null and updateUser != ''">
                #{updateUser},
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                #{updateUserName},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="yn != null">
                #{yn},
            </if>
        </trim>
    </insert>
    <!-- 批量增加 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        insert into `config_transfer_dp_site`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            handover_org_id,
            handover_org_name,
            handover_site_code,
            handover_site_name,
            pre_sort_site_code,
            pre_sort_site_name,
            config_status,
            effective_start_time,
            effective_stop_time,
            create_user,
            create_user_name,
            update_user,
            update_user_name,
            create_time,
            update_time,
            yn,
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.handoverOrgId},
                #{item.handoverOrgName},
                #{item.handoverSiteCode},
                #{item.handoverSiteName},
                #{item.preSortSiteCode},
                #{item.preSortSiteName},
                #{item.configStatus},
                #{item.effectiveStartTime},
                #{item.effectiveStopTime},
                #{item.createUser},
                #{item.createUserName},
                #{item.updateUser},
                #{item.updateUserName},
                #{item.createTime},
                #{item.updateTime},
                #{item.yn},
            </trim>
        </foreach>
    </insert>
    <!-- 更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.jdl.basic.api.domain.transferDp.ConfigTransferDpSite">
        UPDATE `config_transfer_dp_site`
        <set>
            <if test="handoverOrgId != null ">
                handover_org_id = #{handoverOrgId},
            </if>
            <if test="handoverOrgName != null and handoverOrgName != ''">
                handover_org_name = #{handoverOrgName},
            </if>
            <if test="handoverSiteCode != null ">
                handover_site_code = #{handoverSiteCode},
            </if>
            <if test="handoverSiteName != null and handoverSiteName != ''">
                handover_site_name = #{handoverSiteName},
            </if>
            <if test="preSortSiteCode != null ">
                pre_sort_site_code = #{preSortSiteCode},
            </if>
            <if test="preSortSiteName != null and preSortSiteName != ''">
                pre_sort_site_name = #{preSortSiteName},
            </if>
            <if test="configStatus != null ">
                config_status = #{configStatus},
            </if>
            <if test="effectiveStartTime != null ">
                effective_start_time = #{effectiveStartTime},
            </if>
            <if test="effectiveStopTime != null ">
                effective_stop_time = #{effectiveStopTime},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="createUserName != null and createUserName != ''">
                create_user_name = #{createUserName},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="yn != null ">
                yn = #{yn},
            </if>
        </set>
        WHERE
            id = #{id}
    </update>
    <!-- 批量更新 -->
    <update id="batchUpdateByPrimaryKeys" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            UPDATE `config_transfer_dp_site`
            <set>
                <if test="item.handoverOrgId != null">
                    handover_org_id = #{item.handoverOrgId},
                </if>
                <if test="item.handoverOrgName != null and item.handoverOrgName != ''">
                    handover_org_name = #{item.handoverOrgName},
                </if>
                <if test="item.handoverSiteCode != null">
                    handover_site_code = #{item.handoverSiteCode},
                </if>
                <if test="item.handoverSiteName != null and item.handoverSiteName != ''">
                    handover_site_name = #{item.handoverSiteName},
                </if>
                <if test="item.preSortSiteCode != null">
                    pre_sort_site_code = #{item.preSortSiteCode},
                </if>
                <if test="item.preSortSiteName != null and item.preSortSiteName != ''">
                    pre_sort_site_name = #{item.preSortSiteName},
                </if>
                <if test="item.configStatus != null">
                    config_status = #{item.configStatus},
                </if>
                <if test="item.effectiveStartTime != null">
                    effective_start_time = #{item.effectiveStartTime},
                </if>
                <if test="item.effectiveStopTime != null">
                    effective_stop_time = #{item.effectiveStopTime},
                </if>
                <if test="item.createUser != null and item.createUser != ''">
                    create_user = #{item.createUser},
                </if>
                <if test="item.createUserName != null and item.createUserName != ''">
                    create_user_name = #{item.createUserName},
                </if>
                <if test="item.updateUser != null and item.updateUser != ''">
                    update_user = #{item.updateUser},
                </if>
                <if test="item.updateUserName != null and item.updateUserName != ''">
                    update_user_name = #{item.updateUserName},
                </if>
                <if test="item.createTime != null">
                    create_time = #{item.createTime},
                </if>
                <if test="item.updateTime != null">
                    update_time = #{item.updateTime},
                </if>
                <if test="item.yn != null">
                    yn = #{item.yn},
                </if>
            </set>
            WHERE
                id = #{item.id}
        </foreach>
    </update>
    <!-- 按主键查询 -->
    <select id="selectByPrimaryKey" resultMap="RM_ConfigTransferDpSite" parameterType="com.jdl.basic.api.domain.transferDp.ConfigTransferDpSite">
        SELECT
        <include refid="Base_Column_List"/>
        <![CDATA[
            FROM `config_transfer_dp_site`
            WHERE
                id = #{id} 
        ]]>
    </select>
    <!-- 按条件查询单条记录 -->
    <select id="selectOne" resultMap="RM_ConfigTransferDpSite" parameterType="com.jdl.basic.api.dto.transferDp.ConfigTransferDpSiteQo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `config_transfer_dp_site`
        <include refid="where"/>
    </select>
    <!-- where条件 -->
    <sql id="where">
        <where>
            <include refid="sql_if_not_null"/>
        </where>
    </sql>
    <!-- 判断空值 -->
    <sql id="sql_if_not_null">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="handoverOrgId != null">
            AND handover_org_id = #{handoverOrgId}
        </if>
        <if test="handoverOrgName != null and handoverOrgName != ''">
            AND handover_org_name = #{handoverOrgName}
        </if>
        <if test="handoverSiteCode != null">
            AND handover_site_code = #{handoverSiteCode}
        </if>
        <if test="handoverSiteName != null and handoverSiteName != ''">
            AND handover_site_name = #{handoverSiteName}
        </if>
        <if test="preSortSiteCode != null">
            AND pre_sort_site_code = #{preSortSiteCode}
        </if>
        <if test="preSortSiteName != null and preSortSiteName != ''">
            AND pre_sort_site_name like CONCAT('%', #{preSortSiteName},'%')
        </if>
        <if test="configStatus != null">
            AND config_status = #{configStatus}
        </if>
        <if test="effectiveStartTime != null">
            AND effective_start_time &lt;= #{effectiveStartTime}
        </if>
        <if test="effectiveStopTime != null">
            AND effective_stop_time &gt;= #{effectiveStopTime}
        </if>
        <if test="yn != null">
            AND yn = #{yn}
        </if>
    </sql>
    <!-- 查询行数 -->
    <select id="queryCount" resultType="long" parameterType="com.jdl.basic.api.dto.transferDp.ConfigTransferDpSiteQo">
        SELECT count(1) FROM `config_transfer_dp_site`
        <include refid="where"/>
    </select>
    <!-- 查询集合 如果pageNumber小于或等于0,则不进行分页操作 -->
    <select id="queryList" resultMap="RM_ConfigTransferDpSite" parameterType="com.jdl.basic.api.dto.transferDp.ConfigTransferDpSiteQo">
        SELECT
        <include refid="Base_Column_List" />
        FROM `config_transfer_dp_site`
        <include refid="where"/>
        <if test="pageNumber > 0">
            limit #{limitStart}, #{pageSize}
        </if>
    </select>
    <!-- 伪删除（更新删除行的识别码） -->
    <update id="deleteByPrimaryKey" parameterType="com.jdl.basic.api.domain.transferDp.ConfigTransferDpSite">
        UPDATE `config_transfer_dp_site` SET
        <if test="updateUser != null and updateUser != ''">
            update_user = #{updateUser},
        </if>
        <if test="updateUserName != null and updateUserName != ''">
            update_user_name = #{updateUserName},
        </if>
        <if test="updateTime != null ">
            update_time = #{updateTime},
        </if>
        yn = 0
        WHERE
        id = #{id} 
    </update>
    <!-- 批量伪删除 -->
    <update id="batchDeleteByPrimaryKeys" parameterType="com.jdl.basic.api.dto.transferDp.ConfigTransferDpSiteQo">
        UPDATE `config_transfer_dp_site` SET
        <if test="updateUser != null and updateUser != ''">
            update_user = #{updateUser},
        </if>
        <if test="updateUserName != null and updateUserName != ''">
            update_user_name = #{updateUserName},
        </if>
        <if test="updateTime != null ">
            update_time = #{updateTime},
        </if>
        yn = 0
        WHERE id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>

